Repository Layr-Labs/eigenlayer-contracts, changes with the labels that .github/labeler.yml gives for each.
All labels: 📜 Script, 🧪 Test

update
  .github/workflows/foundry-advanced.yml
Labels: none

update
  .github/workflows/foundry.yml
Labels: none

update
  .github/workflows/foundry.yml
Labels: none

chore: format
  script/releases/v1.4.1-slashing/1-deployContracts.s.sol
  script/releases/v1.4.1-slashing/3-execute.s.sol
Labels: 📜 Script

feat: cantina upgrade script
  script/releases/v1.4.0-slashing/1-deployContracts.s.sol
  script/releases/v1.4.0-slashing/3-execute.s.sol
  script/releases/v1.4.1-slashing/1-deployContracts.s.sol
  script/releases/v1.4.1-slashing/2-queueUpgrade.s.sol
  script/releases/v1.4.1-slashing/3-execute.s.sol
  script/releases/v1.4.1-slashing/upgrade.json
Labels: 📜 Script

chore: update upgrade.json
  script/releases/v1.4.1-slashing/upgrade.json
Labels: 📜 Script

ci: merge Fork tests with new rpc (#1294)
  .github/workflows/foundry-advanced.yml
  .github/workflows/foundry.yml
Labels: none

ci: merge Fork tests with new rpc (#1294)
  .github/workflows/foundry-advanced.yml
  .github/workflows/foundry.yml
Labels: none

ci: re-enable pr labeler
  .github/workflows/automation.yml
Labels: none

feat: cantina preprod/testnet upgrade scripts (#1286)
  script/releases/v1.4.0-slashing/1-deployContracts.s.sol
  script/releases/v1.4.0-slashing/3-execute.s.sol
  script/releases/v1.4.1-slashing/1-deployContracts.s.sol
  script/releases/v1.4.1-slashing/2-queueUpgrade.s.sol
  script/releases/v1.4.1-slashing/3-execute.s.sol
  script/releases/v1.4.1-slashing/upgrade.json
Labels: 📜 Script

update
  .github/workflows/automation.yml
Labels: none

update
  .github/workflows/automation.yml
Labels: none

chore: upgrade name
  script/releases/v1.4.1-slashing/3-executeUpgrade.s.sol
Labels: 📜 Script

docs: post-cantina doc updates (#1266)
  audits/Permissionless Strategies - Sigma Prime - Aug 2024.pdf
  docs/core/AllocationManager.md
  docs/core/DelegationManager.md
  docs/core/accounting/SharesAccountingEdgeCases.md
  docs/core/accounting/StrategyBaseAccounting.md
Labels: none

chore: address ep/epm informational (#1272)
  src/contracts/pods/EigenPod.sol
  src/contracts/pods/EigenPodPausingConstants.sol
  src/test/unit/EigenPodUnit.t.sol
  src/test/unit/libraries/BytesLibUnit.t.sol
  src/test/utils/BytesLib.sol
Labels: 🧪 Test

feat: cantina preprod/testnet upgrade scripts (#1286)
  script/releases/v1.4.0-slashing/1-deployContracts.s.sol
  script/releases/v1.4.0-slashing/3-execute.s.sol
  script/releases/v1.4.1-slashing/1-deployContracts.s.sol
  script/releases/v1.4.1-slashing/2-queueUpgrade.s.sol
  script/releases/v1.4.1-slashing/3-execute.s.sol
  script/releases/v1.4.1-slashing/upgrade.json
Labels: 📜 Script

chore: add event to dsf reset on full withdrawal (#1270)
  src/contracts/core/DelegationManager.sol
  src/test/unit/DelegationUnit.t.sol
Labels: 🧪 Test

fix(cantina): deposit share cast bug (#1265)
  certora/specs/pods/EigenPodManagerRules.spec
  snapshots/Integration_ALM_Multi.json
  src/contracts/pods/EigenPodManager.sol
  src/test/integration/tests/ALM_Multi.t.sol
  src/test/integration/tests/Deposit_Queue_Complete.t.sol
  src/test/unit/EigenPodManagerUnit.t.sol
Labels: 🧪 Test

fix: v1.4.1 execute script name (#1297)
  script/releases/v1.4.1-slashing/3-executeUpgrade.s.sol
Labels: 📜 Script

Update .env.example
  .env.example
Labels: none

Update .env.example (#1298)
  .env.example
Labels: none

Update .env.example (#1298)
  .env.example
Labels: none

Update automation.yml
  .github/workflows/automation.yml
Labels: none

Delete .github/workflows/certora.yml
  .github/workflows/certora.yml
Labels: none

feat(wip): toml based config parsing
  script/releases/Env.sol
  script/utils/ExistingDeploymentParser.sol
  src/test/Config.t.sol
  src/test/ConfigParser.sol
  src/test/ConfigParser.t.sol
  src/test/integration/IntegrationBase.t.sol
  src/test/integration/IntegrationChecks.t.sol
  src/test/integration/IntegrationDeployer.t.sol
  src/test/integration/IntegrationGetters.t.sol
  src/test/integration/IntegrationUtils.t.sol
  src/test/integration/README.md
  src/test/integration/tests/Deposit_Delegate_Redelegate_Complete.t.sol
  src/test/integration/tests/Deposit_Delegate_UpdateBalance.t.sol
  src/test/integration/tests/Deposit_Queue_Complete.t.sol
  src/test/integration/tests/Deposit_Register_QueueWithdrawal_Complete.t.sol
  src/test/integration/tests/FullySlashed_Operator.t.sol
  src/test/integration/tests/HighDSF_Multiple_Deposits.t.sol
  src/test/integration/tests/Timing.t.sol
  src/test/integration/tests/Upgrade_Setup.t.sol
  src/test/integration/tests/eigenpod/SlashBC_OneBCSF.t.sol
  src/test/integration/tests/eigenpod/Slashed_Eigenpod_BC.t.sol
  src/test/integration/tests/upgrade/Complete_PreSlashing_Withdrawal.t.sol
  src/test/integration/tests/upgrade/EigenPod.t.sol
  src/test/integration/tests/upgrade/EigenPod_Slashing_Migration.t.sol
  src/test/integration/tests/upgrade/Prooftra.t.sol
  src/test/integration/tests/upgrade/UpgradeTest.t.sol
  src/test/integration/users/AVS.t.sol
  src/test/integration/users/User.t.sol
  src/test/integration/users/User_M1.t.sol
  src/test/integration/users/User_M2.t.sol
Labels: 📜 Script, 🧪 Test

chore: fix typos
  script/releases/v1.3.0-slashing/1-deployContracts.s.sol
  script/releases/v1.3.0-slashing/2-queueUpgradeAndUnpause.s.sol
  script/releases/v1.3.0-slashing/3-pause.s.sol
  script/releases/v1.3.0-slashing/5-executeUpgradeAndUnpause.s.sol
Labels: 📜 Script

feat: mainnet upgrade scripts
  script/releases/Env.sol
  script/releases/v1.3.0-slashing/1-deployContracts.s.sol
  script/releases/v1.3.0-slashing/2-queueUpgradeAndUnpause.s.sol
  script/releases/v1.3.0-slashing/3-pause.s.sol
  script/releases/v1.3.0-slashing/4-completeCheckpoints/EigenPod.abi.json
  script/releases/v1.3.0-slashing/4-completeCheckpoints/EigenPodManager.abi.json
  script/releases/v1.3.0-slashing/4-completeCheckpoints/go.mod
  script/releases/v1.3.0-slashing/4-completeCheckpoints/go.sum
  script/releases/v1.3.0-slashing/4-completeCheckpoints/script.go
  script/releases/v1.3.0-slashing/4-completeCheckpoints/start.sh
  script/releases/v1.3.0-slashing/5-executeUpgradeAndUnpause.s.sol
  script/releases/v1.3.0-slashing/upgrade.json
Labels: 📜 Script

chore: remove malformed comment
  script/releases/v1.3.0-slashing/2-queueUpgradeAndUnpause.s.sol
Labels: 📜 Script

chore: updates typos file to ignore .mod and .sum files
  .github/configs/typos-cli.toml
Labels: none

fix: v1.4.1 execute script name (#1297)
  script/releases/v1.4.1-slashing/3-executeUpgrade.s.sol
Labels: 📜 Script

ci: not run tests on doc changes
  .github/workflows/foundry.yml
Labels: none

ci: not run tests on doc changes (#1301)
  .github/workflows/foundry.yml
Labels: none

docs: refine CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

docs: rewrite CONTRIBUTING.md (#1300)
  CONTRIBUTING.md
Labels: none

docs: rewrite CONTRIBUTING.md (#1300)
  CONTRIBUTING.md
Labels: none

chore: update testnet impl addresses
  README.md
Labels: none

feat: mainnet upgrade scripts (#1257)
  .github/configs/typos-cli.toml
  script/releases/Env.sol
  script/releases/v1.3.0-slashing/1-deployContracts.s.sol
  script/releases/v1.3.0-slashing/2-queueUpgradeAndUnpause.s.sol
  script/releases/v1.3.0-slashing/3-pause.s.sol
  script/releases/v1.3.0-slashing/4-completeCheckpoints/EigenPod.abi.json
  script/releases/v1.3.0-slashing/4-completeCheckpoints/EigenPodManager.abi.json
  script/releases/v1.3.0-slashing/4-completeCheckpoints/go.mod
  script/releases/v1.3.0-slashing/4-completeCheckpoints/go.sum
  script/releases/v1.3.0-slashing/4-completeCheckpoints/script.go
  script/releases/v1.3.0-slashing/4-completeCheckpoints/start.sh
  script/releases/v1.3.0-slashing/5-executeUpgradeAndUnpause.s.sol
  script/releases/v1.3.0-slashing/upgrade.json
Labels: 📜 Script

docs: author MAINTENANCE.md with environment network definitions and development workflow
  MAINTENANCE.md
Labels: none

docs: author MAINTENANCE.md with environment network definitions and development workflow (#1303)
  MAINTENANCE.md
Labels: none

docs: author MAINTENANCE.md with environment network definitions and development workflow (#1303)
  MAINTENANCE.md
Labels: none

.github/labeler.yml:

# Cannot move to .github/configs/ for some reason... this should do for now.

# Applies when PR branch name contains "bug" or "fix"
'🐞 Bug':
  - head-branch: ['bug']

# Applies when PR branch name contains "chore"
'📜 Chore':
  - head-branch: ['chore']
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', '.vscode/**/*', '.devcontainer/**/*', '.*', '.*rc', '.*ignore', '.env*']

# Applies when PR branch name contains "docs" or "documentation" or changes markdown files
'📖 Documentation':
  - head-branch: ['docs', 'documentation']
  - changed-files:
    - any-glob-to-any-file: ['**/*.md']

# Applies when PR branch name contains "feat", "feature", or "enhance" or changes contract files
'✨ Enhancement':
  - head-branch: ['feat', 'feature', 'enhance']
  - changed-files:
    - any-glob-to-any-file: ['src/contracts/**/*']

# Applies when PR branch name contains "fix", "bug", or "patch"
'🔧 Fix':
  - head-branch: ['fix', 'patch']

# Applies when PR branch name contains "optimize" or "perf"
'⚡ Optimization':
  - head-branch: ['optimize', 'perf']

# Applies when PR branch name contains "refactor"
'♻️ Refactor':
  - head-branch: ['refactor']

# Applies when PR changes script files
'📜 Script':
  - changed-files:
    - any-glob-to-any-file: ['script/**/*', 'bin/**/*']

# Applies when PR targets the slashing integration testing branch
'🗡️ Slashing Release':
  - base-branch: ['slashing','test/slashing-integration-testing']

# Applies when PR changes test files
'🧪 Test':
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*']
