Repository Layr-Labs/eigenlayer-contracts, changes with the labels that .github/labeler.yml gives for each.
All labels: 📜 Script, 🧪 Test

.github/labeler.yml:

# Cannot move to .github/configs/ for some reason... this should do for now.

# Applies when PR branch name contains "bug" or "fix"
'🐞 Bug':
  - head-branch: ['bug']

# Applies when PR branch name contains "chore"
'📜 Chore':
  - head-branch: ['chore']
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', '.vscode/**/*', '.devcontainer/**/*', '.*', '.*rc', '.*ignore', '.env*']

# Applies when PR branch name contains "docs" or "documentation" or changes markdown files
'📖 Documentation':
  - head-branch: ['docs', 'documentation']
  - changed-files:
    - any-glob-to-any-file: ['**/*.md']

# Applies when PR branch name contains "feat", "feature", or "enhance" or changes contract files
'✨ Enhancement':
  - head-branch: ['feat', 'feature', 'enhance']
  - changed-files:
    - any-glob-to-any-file: ['src/contracts/**/*']

# Applies when PR branch name contains "fix", "bug", or "patch"
'🔧 Fix':
  - head-branch: ['fix', 'patch']

# Applies when PR branch name contains "optimize" or "perf"
'⚡ Optimization':
  - head-branch: ['optimize', 'perf']

# Applies when PR branch name contains "refactor"
'♻️ Refactor':
  - head-branch: ['refactor']

# Applies when PR changes script files
'📜 Script':
  - changed-files:
    - any-glob-to-any-file: ['script/**/*', 'bin/**/*']

# Applies when PR targets the slashing integration testing branch
'🗡️ Slashing Release':
  - base-branch: ['slashing','test/slashing-integration-testing']

# Applies when PR changes test files
'🧪 Test':
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*']

feat: pectra compatibility (#1053)
  src/contracts/interfaces/IEigenPod.sol
  src/contracts/interfaces/IEigenPodManager.sol
  src/contracts/libraries/BeaconChainProofs.sol
  src/contracts/pods/EigenPod.sol
  src/contracts/pods/EigenPodManager.sol
  src/contracts/pods/EigenPodManagerStorage.sol
  src/test/harnesses/EigenPodHarness.sol
  src/test/integration/IntegrationDeployer.t.sol
  src/test/integration/UpgradeTest.t.sol
  src/test/integration/mocks/BeaconChainMock.t.sol
  src/test/integration/mocks/BeaconChainMock_Deneb.t.sol
  src/test/integration/tests/DualSlashing.t.sol
  src/test/integration/tests/Slashed_Eigenpod_AVS.t.sol
  src/test/integration/tests/eigenpod/FullySlashed_EigenPod.t.sol
  src/test/integration/tests/eigenpod/Register_Allocate_Slash_VerifyWC_.t.sol
  src/test/integration/tests/eigenpod/SlashBC_OneBCSF.t.sol
  src/test/integration/tests/eigenpod/Slashed_Eigenpod_BC.t.sol
  src/test/integration/tests/eigenpod/VerifyWC_StartCP_CompleteCP.t.sol
  src/test/integration/tests/upgrade/EigenPod.t.sol
  src/test/integration/tests/upgrade/Prooftra.t.sol
  src/test/integration/users/User.t.sol
  src/test/integration/users/User_M2.t.sol
  src/test/mocks/EigenPodManagerMock.sol
  src/test/mocks/EigenPodMock.sol
  src/test/unit/EigenPodManagerUnit.t.sol
  src/test/unit/EigenPodUnit.t.sol
  src/test/utils/EigenPodUser.t.sol
Labels: 🧪 Test

feat: prooftra upgrade script (#1067)
  script/releases/v1.2.0-slashing/1-eoa.s.sol
  script/releases/v1.2.0-slashing/2-queueUpgradeAndTimestampSetter.s.sol
  script/releases/v1.2.0-slashing/3-queueUnpause.s.sol
  script/releases/v1.2.0-slashing/4-pause.s.sol
  script/releases/v1.2.0-slashing/5-executeUpgradeAndSetTimestampSubmitter.s.sol
  script/releases/v1.2.0-slashing/6-script/go.mod
  script/releases/v1.2.0-slashing/6-script/go.sum
  script/releases/v1.2.0-slashing/6-script/script.go
  script/releases/v1.2.0-slashing/6-script/script_test.go
  script/releases/v1.2.0-slashing/6-script/start.sh
  script/releases/v1.2.0-slashing/7-setProofTimestamp.s.sol
  script/releases/v1.2.0-slashing/8-executeUnpause.s.sol
  script/releases/v1.2.0-slashing/forkTimestamp.txt
  script/releases/v1.2.0-slashing/upgrade.json
Labels: 📜 Script

chore: format and update tests for dual slashing with pectra
  script/releases/v1.2.0-slashing/1-eoa.s.sol
  script/releases/v1.2.0-slashing/2-queueUpgradeAndTimestampSetter.s.sol
  script/releases/v1.2.0-slashing/3-queueUnpause.s.sol
  script/releases/v1.2.0-slashing/4-pause.s.sol
  script/releases/v1.2.0-slashing/5-executeUpgradeAndSetTimestampSubmitter.s.sol
  script/releases/v1.2.0-slashing/7-setProofTimestamp.s.sol
  script/releases/v1.2.0-slashing/8-executeUnpause.s.sol
  src/test/integration/IntegrationBase.t.sol
  src/test/integration/IntegrationChecks.t.sol
  src/test/integration/IntegrationDeployer.t.sol
  src/test/integration/UpgradeTest.t.sol
  src/test/integration/mocks/BeaconChainMock.t.sol
  src/test/integration/mocks/BeaconChainMock_Deneb.t.sol
  src/test/integration/tests/DualSlashing.t.sol
  src/test/integration/tests/eigenpod/Register_Allocate_Slash_VerifyWC_.t.sol
  src/test/integration/tests/eigenpod/VerifyWC_StartCP_CompleteCP.t.sol
  src/test/integration/tests/upgrade/Prooftra.t.sol
  src/test/integration/users/User.t.sol
  src/test/integration/users/User_M2.t.sol
  src/test/unit/EigenPodManagerUnit.t.sol
  src/test/unit/EigenPodUnit.t.sol
  src/test/utils/EigenPodUser.t.sol
Labels: 📜 Script, 🧪 Test

chore: fix compile + tests
  src/test/integration/tests/Deposit_Queue_Complete.t.sol
Labels: 🧪 Test

chore: removing slashing upgrade; update version
  script/releases/v1.3.0-slashing/1-deployContracts.s.sol
  script/releases/v1.3.0-slashing/2-queueUpgradeAndUnpause.s.sol
  script/releases/v1.3.0-slashing/3-pause.s.sol
  script/releases/v1.3.0-slashing/4-completeCheckpoints/EigenPod.abi.json
  script/releases/v1.3.0-slashing/4-completeCheckpoints/EigenPodManager.abi.json
  script/releases/v1.3.0-slashing/4-completeCheckpoints/go.mod
  script/releases/v1.3.0-slashing/4-completeCheckpoints/go.sum
  script/releases/v1.3.0-slashing/4-completeCheckpoints/script.go
  script/releases/v1.3.0-slashing/4-completeCheckpoints/start.sh
  script/releases/v1.3.0-slashing/5-executeUpgradeAndUnpause.s.sol
  script/releases/v1.3.0-slashing/upgrade.json
  script/releases/v1.4.2-slashing/1-eoa.s.sol
  script/releases/v1.4.2-slashing/2-queueUpgradeAndTimestampSetter.s.sol
  script/releases/v1.4.2-slashing/3-queueUnpause.s.sol
  script/releases/v1.4.2-slashing/4-pause.s.sol
  script/releases/v1.4.2-slashing/5-executeUpgradeAndSetTimestampSubmitter.s.sol
  script/releases/v1.4.2-slashing/6-script/go.mod
  script/releases/v1.4.2-slashing/6-script/go.sum
  script/releases/v1.4.2-slashing/6-script/script.go
  script/releases/v1.4.2-slashing/6-script/script_test.go
  script/releases/v1.4.2-slashing/6-script/start.sh
  script/releases/v1.4.2-slashing/7-setProofTimestamp.s.sol
  script/releases/v1.4.2-slashing/8-executeUnpause.s.sol
  script/releases/v1.4.2-slashing/forkTimestamp.txt
  script/releases/v1.4.2-slashing/upgrade.json
Labels: 📜 Script

fix: use retries & handle 404 error
  script/releases/v1.4.2-slashing/6-script/script.go
Labels: 📜 Script

update .zeus
  .zeus
Labels: none

put eigenstrategy behind a proxy
  script/releases/v0.0.1-gov/1-eoa.s.sol
  script/releases/v1.3.0-genesis/1-deploy.s.sol
  script/releases/v1.3.0-genesis/2-queue.s.sol
Labels: 📜 Script

chore: simplify Certora CI script
  .github/workflows/certora-prover.yml
Labels: none

chore: rename eigenpod integration tests
  src/test/integration/tests/eigenpod/FullySlashed_EigenPod.t.sol
  src/test/integration/tests/eigenpod/Register_Allocate_Slash_VerifyWC_.t.sol
  src/test/integration/tests/eigenpod/SlashBC_OneBCSF.t.sol
  src/test/integration/tests/eigenpod/Slashed_Eigenpod_BC.t.sol
  src/test/integration/tests/eigenpod/VerifyWC_StartCP_CompleteCP.t.sol
Labels: 🧪 Test

chore: add sepholia toml
  cache/fuzz/failures
  script/configs/sepolia/sepolia-addresses.toml
Labels: 📜 Script

revert
  .zeus
Labels: none

revert newlien
  .zeus
Labels: none

docs: add sepolia addresses
  README.md
Labels: none

docs: add version matrix
  README.md
Labels: none

chore: typos & update proxy versions
  README.md
Labels: none

chore: update version
  script/releases/v1.4.1-slashing/1-eoa.s.sol
  script/releases/v1.4.1-slashing/2-queueUpgradeAndTimestampSetter.s.sol
  script/releases/v1.4.1-slashing/3-queueUnpause.s.sol
  script/releases/v1.4.1-slashing/4-pause.s.sol
  script/releases/v1.4.1-slashing/5-executeUpgradeAndSetTimestampSubmitter.s.sol
  script/releases/v1.4.1-slashing/6-script/go.mod
  script/releases/v1.4.1-slashing/6-script/go.sum
  script/releases/v1.4.1-slashing/6-script/script.go
  script/releases/v1.4.1-slashing/6-script/script_test.go
  script/releases/v1.4.1-slashing/6-script/start.sh
  script/releases/v1.4.1-slashing/7-setProofTimestamp.s.sol
  script/releases/v1.4.1-slashing/8-executeUnpause.s.sol
  script/releases/v1.4.1-slashing/forkTimestamp.txt
  script/releases/v1.4.1-slashing/upgrade.json
Labels: 📜 Script

feat: transfer da ownership zeus scripts
  script/releases/transfer-da-ownership/1-queueTransferProxyAdmin.s.sol
  script/releases/transfer-da-ownership/2-transferOwnershipDAContracts.s.sol
  script/releases/transfer-da-ownership/3-executeTransferProxyAdmin.s.sol
  script/releases/transfer-da-ownership/TransferDAOwnershipConstants.sol
  script/releases/transfer-da-ownership/upgrade.json
Labels: 📜 Script

chore: move `Slashed_Eigepod_AVS.t.sol`
  src/test/integration/tests/eigenpod/Slashed_Eigenpod_AVS.t.sol
Labels: 🧪 Test

chore: update .zeus
  .zeus
Labels: none

chore: add hoodi
  script/configs/testnet/hoodi-addresses.toml
Labels: 📜 Script

chore: remove jsons
  script/configs/devnet/deploy_from_scratch.anvil.config.json
  script/configs/devnet/deploy_from_scratch.holesky.config.json
  script/configs/devnet/deploy_from_scratch.holesky.slashing.config.json
  script/configs/holesky.json
  script/configs/local/deploy_from_scratch.slashing.anvil.config.json
  script/configs/mainnet.json
  script/configs/mainnet/mainnet-addresses.config.json
  script/configs/preprod.json
  script/configs/zipzoop.json
Labels: 📜 Script

chore: improve .env.example + foundry.toml
  .env.example
  foundry.toml
Labels: none

chore: move + rename config tomls
  script/configs/hoodi.toml
  script/configs/mainnet.toml
  script/configs/sepolia.toml
Labels: 📜 Script

refactor: dynamically choose toml based on `$CHAIN`
  src/test/integration/IntegrationDeployer.t.sol
Labels: 🧪 Test

chore: update .env.example
  .env.example
Labels: none

fix: ci
  .github/workflows/foundry.yml
Labels: none

chore: remove holesky test
  src/test/integration/tests/Upgrade_Setup.t.sol
Labels: 🧪 Test

chore: remove holesky stuff
  src/test/utils/Constants.t.sol
  src/test/utils/Logger.t.sol
Labels: 🧪 Test

chore: make comment a little more clear, update json to have versioning
  script/releases/transfer-da-ownership/1-queueTransferProxyAdmin.s.sol
  script/releases/transfer-da-ownership/upgrade.json
Labels: 📜 Script

chore: update delay time
  src/test/integration/IntegrationDeployer.t.sol
Labels: 🧪 Test

refactor: cleanup
  .env.example
  .github/workflows/foundry.yml
  cache/test-failures
  src/test/integration/IntegrationDeployer.t.sol
Labels: 🧪 Test

docs: author MAINTENANCE.md with environment network definitions and development workflow (#1303)
  MAINTENANCE.md
Labels: none

ci: change push branch to main (#1278)
  .github/workflows/foundry.yml
Labels: none

ci: remove chain id from secrets and env vars (#1275)
  .github/workflows/foundry.yml
Labels: none

ci: split workflows require secrets vs not (#1289)
  .github/workflows/foundry-advanced.yml
  .github/workflows/foundry.yml
Labels: none

ci: remove holesky rpc (#1291)
  .github/workflows/foundry.yml
Labels: none

docs: rewrite CONTRIBUTING.md (#1300)
  CONTRIBUTING.md
Labels: none

Update .env.example (#1298)
  .env.example
Labels: none

ci: merge Fork tests with new rpc (#1294)
  .github/workflows/foundry-advanced.yml
  .github/workflows/foundry.yml
Labels: none
