Repository Layr-Labs/eigenlayer-contracts, changes with the labels that .github/labeler.yml gives for each.
All labels: 📜 Script, 🧪 Test

chore: remove goerli from all codebase
  README.md
  bin/source-env.sh
  script/deploy/devnet/deploy_from_scratch.s.sol
  script/utils/validateStorage/README.md
  script/utils/validateStorage/validateUpgrade.sh
  src/test/unit/StrategyManagerUnit.t.sol
Labels: 📜 Script, 🧪 Test

chore: remove goerli from all codebase (#1304)
  README.md
  bin/source-env.sh
  script/deploy/devnet/deploy_from_scratch.s.sol
  script/utils/validateStorage/README.md
  script/utils/validateStorage/validateUpgrade.sh
  src/test/unit/StrategyManagerUnit.t.sol
Labels: 📜 Script, 🧪 Test

test: passing
  cache/test-failures
  script/output/devnet/SLASHING_deploy_from_scratch_deployment_data.json
  src/test/ConfigParser.t.sol
  src/test/integration/IntegrationDeployer.t.sol
  src/test/integration/tests/HighDSF_Multiple_Deposits.t.sol
  src/test/integration/tests/upgrade/UpgradeTest.t.sol
  src/test/integration/users/AVS.t.sol
  src/test/integration/users/User.t.sol
  src/test/integration/users/User_M1.t.sol
  src/test/integration/users/User_M2.t.sol
  src/test/utils/Logger.t.sol
Labels: 📜 Script, 🧪 Test

chore: typos
  src/test/ConfigParser.t.sol
  src/test/integration/IntegrationDeployer.t.sol
Labels: 🧪 Test

Improve allocation manager docs
  docs/core/AllocationManager.md
Labels: none

test: forktest passing
  script/deploy/local/deploy_from_scratch.slashing.s.sol
  script/interfaces/IUpgradeableBeacon.sol
  src/test/integration/IntegrationDeployer.t.sol
Labels: 📜 Script, 🧪 Test

refactor: cleanup imports
  src/test/integration/IntegrationBase.t.sol
  src/test/integration/IntegrationDeployer.t.sol
  src/test/integration/IntegrationUtils.t.sol
  src/test/integration/users/AVS.t.sol
  src/test/integration/users/User.t.sol
  src/test/integration/users/User_M1.t.sol
  src/test/integration/users/User_M2.t.sol
Labels: 🧪 Test

feat: add mainnet queue
  cache/solidity-files-cache.json
  script/configs/mainnet/mainnet-addresses.toml
  src/test/integration/IntegrationDeployer.t.sol
  src/test/utils/Constants.t.sol
Labels: 📜 Script, 🧪 Test

feat: toml based config parsing
  script/configs/mainnet/mainnet-addresses.config.toml
  src/test/ParseMainnetConfig.t.sol
Labels: 📜 Script, 🧪 Test

feat(wip): toml based config parsing
  script/configs/mainnet/mainnet-addresses.config.toml
  src/test/ParseMainnetConfig.t.sol
Labels: 📜 Script, 🧪 Test

feat(wip): toml based config parsing
  script/configs/mainnet/mainnet-addresses.config.toml
  src/test/ParseMainnetConfig.t.sol
Labels: 📜 Script, 🧪 Test

chore: make fmt
  cache/test-failures
  src/test/ParseMainnetConfig.t.sol
Labels: 🧪 Test

feat(wip): toml based config parsing
  script/configs/mainnet/mainnet-addresses.toml
  src/test/ConfigParser.sol
  src/test/ParseMainnetConfig.t.sol
Labels: 📜 Script, 🧪 Test

feat(wip): toml based config parsing
  script/configs/mainnet/mainnet-addresses.toml
  src/test/ConfigParser.sol
Labels: 📜 Script, 🧪 Test

fix: order
  script/configs/mainnet/mainnet-addresses.toml
  src/test/ConfigParser.sol
Labels: 📜 Script, 🧪 Test

feat(wip): toml based config parsing
  script/releases/Env.sol
  script/utils/ExistingDeploymentParser.sol
  src/test/Config.t.sol
  src/test/ConfigParser.sol
  src/test/ConfigParser.t.sol
  src/test/integration/IntegrationBase.t.sol
  src/test/integration/IntegrationChecks.t.sol
  src/test/integration/IntegrationDeployer.t.sol
  src/test/integration/IntegrationGetters.t.sol
  src/test/integration/IntegrationUtils.t.sol
  src/test/integration/README.md
  src/test/integration/tests/Deposit_Delegate_Redelegate_Complete.t.sol
  src/test/integration/tests/Deposit_Delegate_UpdateBalance.t.sol
  src/test/integration/tests/Deposit_Queue_Complete.t.sol
  src/test/integration/tests/Deposit_Register_QueueWithdrawal_Complete.t.sol
  src/test/integration/tests/FullySlashed_Operator.t.sol
  src/test/integration/tests/HighDSF_Multiple_Deposits.t.sol
  src/test/integration/tests/Timing.t.sol
  src/test/integration/tests/Upgrade_Setup.t.sol
  src/test/integration/tests/eigenpod/SlashBC_OneBCSF.t.sol
  src/test/integration/tests/eigenpod/Slashed_Eigenpod_BC.t.sol
  src/test/integration/tests/upgrade/Complete_PreSlashing_Withdrawal.t.sol
  src/test/integration/tests/upgrade/EigenPod.t.sol
  src/test/integration/tests/upgrade/EigenPod_Slashing_Migration.t.sol
  src/test/integration/tests/upgrade/Prooftra.t.sol
  src/test/integration/users/AVS.t.sol
  src/test/integration/users/User.t.sol
  src/test/integration/users/User_M1.t.sol
  src/test/integration/users/User_M2.t.sol
Labels: 📜 Script, 🧪 Test

test: passing
  cache/test-failures
  script/output/devnet/SLASHING_deploy_from_scratch_deployment_data.json
  src/test/ConfigParser.t.sol
  src/test/integration/IntegrationDeployer.t.sol
  src/test/integration/UpgradeTest.t.sol
  src/test/integration/tests/HighDSF_Multiple_Deposits.t.sol
  src/test/integration/users/AVS.t.sol
  src/test/integration/users/User.t.sol
  src/test/integration/users/User_M1.t.sol
  src/test/integration/users/User_M2.t.sol
  src/test/utils/Logger.t.sol
Labels: 📜 Script, 🧪 Test

chore: typos
  src/test/ConfigParser.t.sol
  src/test/integration/IntegrationDeployer.t.sol
Labels: 🧪 Test

test: forktest passing
  script/deploy/local/deploy_from_scratch.slashing.s.sol
  script/interfaces/IUpgradeableBeacon.sol
  src/test/integration/IntegrationDeployer.t.sol
Labels: 📜 Script, 🧪 Test

chore: get rid of prooftra
  src/test/integration/IntegrationDeployer.t.sol
  src/test/integration/tests/upgrade/Prooftra.t.sol
Labels: 🧪 Test

feat: push tests
  src/test/integration/IntegrationDeployer.t.sol
  src/test/integration/tests/upgrade/Complete_PreSlashing_Withdrawal.t.sol
  src/test/integration/tests/upgrade/Delegate_Upgrade_Allocate.t.sol
  src/test/integration/tests/upgrade/EigenPod.t.sol
  src/test/integration/tests/upgrade/EigenPod_Slashing_Migration.t.sol
Labels: 🧪 Test

test: fix upgrade tests and etch
  src/test/integration/IntegrationDeployer.t.sol
  src/test/integration/tests/eigenpod/SlashBC_OneBCSF.t.sol
  src/test/integration/tests/upgrade/Complete_PreSlashing_Withdrawal.t.sol
  src/test/integration/tests/upgrade/Delegate_Upgrade_Allocate.t.sol
  src/test/integration/tests/upgrade/EigenPod.t.sol
  src/test/integration/tests/upgrade/EigenPod_Slashing_Migration.t.sol
Labels: 🧪 Test

fix: ci
  cache/fuzz/failures
  cache/solidity-files-cache.json
  src/test/integration/IntegrationDeployer.t.sol
  src/test/utils/Constants.t.sol
Labels: 🧪 Test

chore: reset json
  script/output/devnet/SLASHING_deploy_from_scratch_deployment_data.json
Labels: 📜 Script

refactor: lower `NUM_LST_STRATS` 32 -> 8
  cache/fuzz/failures
  cache/test-failures
  src/test/integration/tests/Deposit_Delegate_Undelegate_Complete.t.sol
  src/test/utils/Constants.t.sol
Labels: 🧪 Test

fix: tests
  cache/test-failures
  src/test/integration/IntegrationBase.t.sol
Labels: 🧪 Test

test: zeus queued deployments + arbitrary envs (#1287)
  cache/fuzz/failures
  cache/solidity-files-cache.json
  cache/test-failures
  script/configs/mainnet/mainnet-addresses.toml
  script/deploy/local/deploy_from_scratch.slashing.s.sol
  script/interfaces/IUpgradeableBeacon.sol
  script/output/devnet/SLASHING_deploy_from_scratch_deployment_data.json
  script/releases/Env.sol
  script/utils/ExistingDeploymentParser.sol
  src/test/Config.t.sol
  src/test/ConfigParser.t.sol
  src/test/integration/IntegrationBase.t.sol
  src/test/integration/IntegrationChecks.t.sol
  src/test/integration/IntegrationDeployer.t.sol
  src/test/integration/IntegrationGetters.t.sol
  src/test/integration/IntegrationUtils.t.sol
  src/test/integration/README.md
  src/test/integration/tests/Deposit_Delegate_Redelegate_Complete.t.sol
  src/test/integration/tests/Deposit_Delegate_UpdateBalance.t.sol
  src/test/integration/tests/Deposit_Queue_Complete.t.sol
  src/test/integration/tests/Deposit_Register_QueueWithdrawal_Complete.t.sol
  src/test/integration/tests/FullySlashed_Operator.t.sol
  src/test/integration/tests/HighDSF_Multiple_Deposits.t.sol
  src/test/integration/tests/Timing.t.sol
  src/test/integration/tests/Upgrade_Setup.t.sol
  src/test/integration/tests/eigenpod/SlashBC_OneBCSF.t.sol
  src/test/integration/tests/eigenpod/Slashed_Eigenpod_BC.t.sol
  src/test/integration/tests/upgrade/Complete_PreSlashing_Withdrawal.t.sol
  src/test/integration/tests/upgrade/EigenPod.t.sol
  src/test/integration/tests/upgrade/EigenPod_Slashing_Migration.t.sol
  src/test/integration/tests/upgrade/Prooftra.t.sol
  src/test/integration/tests/upgrade/UpgradeTest.t.sol
  src/test/integration/users/AVS.t.sol
  src/test/integration/users/User.t.sol
  src/test/integration/users/User_M1.t.sol
  src/test/integration/users/User_M2.t.sol
  src/test/utils/Constants.t.sol
  src/test/utils/Logger.t.sol
Labels: 📜 Script, 🧪 Test

fix: tests
  src/test/integration/IntegrationUtils.t.sol
  src/test/integration/tests/eigenpod/SlashBC_OneBCSF.t.sol
Labels: 🧪 Test

chore: remove `cache` from .gitignore
  .gitignore
Labels: none

chore: comment out failing tests
  src/test/integration/tests/upgrade/EigenPod.t.sol
  src/test/integration/tests/upgrade/EigenPod_Slashing_Migration.t.sol
Labels: 🧪 Test

fix: tests
  cache/test-failures
  src/test/integration/IntegrationBase.t.sol
  src/test/integration/tests/eigenpod/SlashBC_OneBCSF.t.sol
Labels: 🧪 Test

fix: rebase errors
  src/test/integration/tests/Deposit_Queue_Complete.t.sol
Labels: 🧪 Test

fix: ci
  .gitignore
  cache/solidity-files-cache.json
Labels: none

test: update env parser and fix upgrade setup test to check queue completion
  script/configs/mainnet.json
  script/configs/mainnet/mainnet-addresses.config.json
  script/utils/ExistingDeploymentParser.sol
  src/test/integration/IntegrationDeployer.t.sol
  src/test/integration/tests/Upgrade_Setup.t.sol
  src/test/integration/tests/upgrade/Upgrade_Validation.t.sol
Labels: 📜 Script, 🧪 Test

chore: fmt
  script/utils/ExistingDeploymentParser.sol
Labels: 📜 Script

test: queued deployment
  cache/test-failures
  script/configs/mainnet/mainnet-addresses.toml
  snapshots/Integration_ALM_Multi.json
  src/test/Config.t.sol
  src/test/ConfigParser.t.sol
  src/test/integration/IntegrationDeployer.t.sol
  src/test/integration/IntegrationGetters.t.sol
  src/test/integration/tests/upgrade/Complete_PreSlashing_Withdrawal.t.sol
  src/test/utils/Constants.t.sol
Labels: 📜 Script, 🧪 Test

test: passing
  cache/fuzz/failures
  cache/test-failures
  src/test/integration/IntegrationDeployer.t.sol
  src/test/integration/tests/upgrade/Delegate_Upgrade_Allocate.t.sol
Labels: 🧪 Test

chore: fmt test
  src/test/integration/tests/upgrade/Upgrade_Validation.t.sol
Labels: 🧪 Test

chore: update .zeus
  .zeus
Labels: none

refactor: review changes
  cache/fuzz/failures
  cache/test-failures
  snapshots/Integration_ALM_Multi.json
  src/test/integration/IntegrationDeployer.t.sol
  src/test/integration/tests/upgrade/Complete_PreSlashing_Withdrawal.t.sol
  src/test/integration/tests/upgrade/Delegate_Upgrade_Allocate.t.sol
  src/test/integration/tests/upgrade/UpgradeTest.t.sol
Labels: 🧪 Test

.github/labeler.yml:

# Cannot move to .github/configs/ for some reason... this should do for now.

# Applies when PR branch name contains "bug" or "fix"
'🐞 Bug':
  - head-branch: ['bug']

# Applies when PR branch name contains "chore"
'📜 Chore':
  - head-branch: ['chore']
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', '.vscode/**/*', '.devcontainer/**/*', '.*', '.*rc', '.*ignore', '.env*']

# Applies when PR branch name contains "docs" or "documentation" or changes markdown files
'📖 Documentation':
  - head-branch: ['docs', 'documentation']
  - changed-files:
    - any-glob-to-any-file: ['**/*.md']

# Applies when PR branch name contains "feat", "feature", or "enhance" or changes contract files
'✨ Enhancement':
  - head-branch: ['feat', 'feature', 'enhance']
  - changed-files:
    - any-glob-to-any-file: ['src/contracts/**/*']

# Applies when PR branch name contains "fix", "bug", or "patch"
'🔧 Fix':
  - head-branch: ['fix', 'patch']

# Applies when PR branch name contains "optimize" or "perf"
'⚡ Optimization':
  - head-branch: ['optimize', 'perf']

# Applies when PR branch name contains "refactor"
'♻️ Refactor':
  - head-branch: ['refactor']

# Applies when PR changes script files
'📜 Script':
  - changed-files:
    - any-glob-to-any-file: ['script/**/*', 'bin/**/*']

# Applies when PR targets the slashing integration testing branch
'🗡️ Slashing Release':
  - base-branch: ['slashing','test/slashing-integration-testing']

# Applies when PR changes test files
'🧪 Test':
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*']
