Repository Layr-Labs/eigenlayer-contracts, changes with the labels that .github/labeler.yml gives for each.
All labels: 📜 Script, 🧪 Test

.github/labeler.yml:

# Cannot move to .github/configs/ for some reason... this should do for now.

# Applies when PR branch name contains "bug" or "fix"
'🐞 Bug':
  - head-branch: ['bug']

# Applies when PR branch name contains "chore"
'📜 Chore':
  - head-branch: ['chore']
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', '.vscode/**/*', '.devcontainer/**/*', '.*', '.*rc', '.*ignore', '.env*']

# Applies when PR branch name contains "docs" or "documentation" or changes markdown files
'📖 Documentation':
  - head-branch: ['docs', 'documentation']
  - changed-files:
    - any-glob-to-any-file: ['**/*.md']

# Applies when PR branch name contains "feat", "feature", or "enhance" or changes contract files
'✨ Enhancement':
  - head-branch: ['feat', 'feature', 'enhance']
  - changed-files:
    - any-glob-to-any-file: ['src/contracts/**/*']

# Applies when PR branch name contains "fix", "bug", or "patch"
'🔧 Fix':
  - head-branch: ['fix', 'patch']

# Applies when PR branch name contains "optimize" or "perf"
'⚡ Optimization':
  - head-branch: ['optimize', 'perf']

# Applies when PR branch name contains "refactor"
'♻️ Refactor':
  - head-branch: ['refactor']

# Applies when PR changes script files
'📜 Script':
  - changed-files:
    - any-glob-to-any-file: ['script/**/*', 'bin/**/*']

# Applies when PR targets the slashing integration testing branch
'🗡️ Slashing Release':
  - base-branch: ['slashing','test/slashing-integration-testing']

# Applies when PR changes test files
'🧪 Test':
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*']

fix: tests
  cache/test-failures
  src/test/integration/IntegrationBase.t.sol
Labels: 🧪 Test

fix: tests
  cache/test-failures
  src/test/integration/IntegrationBase.t.sol
  src/test/integration/tests/eigenpod/SlashBC_OneBCSF.t.sol
Labels: 🧪 Test

refactor: lower `NUM_LST_STRATS` 32 -> 8
  cache/fuzz/failures
  cache/test-failures
  src/test/integration/tests/Deposit_Delegate_Undelegate_Complete.t.sol
  src/test/utils/Constants.t.sol
Labels: 🧪 Test

fix: tests
  src/test/integration/IntegrationUtils.t.sol
  src/test/integration/tests/eigenpod/SlashBC_OneBCSF.t.sol
Labels: 🧪 Test

chore: remove `cache` from .gitignore
  .gitignore
Labels: none

chore: reset json
  script/output/devnet/SLASHING_deploy_from_scratch_deployment_data.json
Labels: 📜 Script

chore: comment out failing tests
  src/test/integration/tests/upgrade/EigenPod.t.sol
  src/test/integration/tests/upgrade/EigenPod_Slashing_Migration.t.sol
Labels: 🧪 Test

chore: add event to dsf reset on full withdrawal
  src/contracts/core/DelegationManager.sol
Labels: none

cursor generated ai slop
  script/utils/IDeploymentParser.sol
  script/utils/JsonDeploymentParser.sol
  script/utils/ZeusDeploymentParser.sol
Labels: 📜 Script

chore: forge fmt
  src/contracts/core/DelegationManager.sol
Labels: none

chore: add missing fn to interface
  src/contracts/core/DelegationManager.sol
  src/contracts/interfaces/IDelegationManager.sol
Labels: none

chore: make fmt
  src/contracts/interfaces/IDelegationManager.sol
Labels: none

chore: make fmt
  script/utils/IDeploymentParser.sol
  script/utils/JsonDeploymentParser.sol
  script/utils/ZeusDeploymentParser.sol
Labels: 📜 Script

chore: change dsf to pure storage and add event in unit tests
  src/contracts/core/DelegationManager.sol
  src/test/unit/DelegationUnit.t.sol
Labels: 🧪 Test

chore: add missing fn to interface (#1271)
  src/contracts/core/DelegationManager.sol
  src/contracts/interfaces/IDelegationManager.sol
Labels: none

ci: enable ci run on all branches
  .github/workflows/foundry.yml
Labels: none

ci: remove chain id from secrets
  .github/workflows/foundry.yml
Labels: none

fix: update
  .github/workflows/foundry.yml
Labels: none

chore: update gwei comment on natspec
  src/contracts/pods/EigenPod.sol
Labels: none

chore: remove byteslib from contracts folder
  src/contracts/pods/EigenPod.sol
  src/test/unit/EigenPodUnit.t.sol
  src/test/unit/libraries/BytesLibUnit.t.sol
  src/test/utils/BytesLib.sol
Labels: 🧪 Test

chore: format
  src/contracts/pods/EigenPod.sol
  src/test/utils/BytesLib.sol
Labels: 🧪 Test

chore: marked withdraw restaked eth deprecated
  src/contracts/pods/EigenPodPausingConstants.sol
Labels: none

fix: update
  .github/workflows/foundry.yml
Labels: none

ci: remove chain id
  .github/workflows/foundry.yml
Labels: none

ci: remove chain id from secrets and env vars (#1275)
  .github/workflows/foundry.yml
Labels: none

ci: remove chain id from secrets and env vars (#1275)
  .github/workflows/foundry.yml
Labels: none

ci: change push branch target to main
  .github/workflows/foundry.yml
Labels: none

ci: change push branch
  .github/workflows/foundry.yml
Labels: none

ci: disable auto labeler to prepare for enabling fork-based pr
  .github/workflows/automation.yml
Labels: none

ci: change push branch to main (#1278)
  .github/workflows/foundry.yml
Labels: none

ci: change push branch to main (#1278)
  .github/workflows/foundry.yml
Labels: none

ci: disable auto labeler to prepare for enabling fork-based pr (#1279)
  .github/workflows/automation.yml
Labels: none

ci: disable auto labeler to prepare for enabling fork-based pr (#1279)
  .github/workflows/automation.yml
Labels: none

ci: switch to pr target for fork-based pr
  .github/workflows/foundry.yml
Labels: none

ci: auto approve for admins of the repo
  .github/workflows/foundry.yml
Labels: none

fix: apply to who has write access
  .github/workflows/foundry.yml
Labels: none

fix: update pr target type
  .github/workflows/foundry.yml
Labels: none

fix: update
  .github/workflows/foundry.yml
Labels: none

ci: change pr target
  .github/workflows/foundry.yml
Labels: none

ci: test
  .github/workflows/foundry.yml
Labels: none
