Repository Layr-Labs/eigenlayer-contracts, changes with the labels that .github/labeler.yml gives for each.
All labels: 📜 Script, 🧪 Test

.github/labeler.yml:

# Cannot move to .github/configs/ for some reason... this should do for now.

# Applies when PR branch name contains "bug" or "fix"
'🐞 Bug':
  - head-branch: ['bug']

# Applies when PR branch name contains "chore"
'📜 Chore':
  - head-branch: ['chore']
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', '.vscode/**/*', '.devcontainer/**/*', '.*', '.*rc', '.*ignore', '.env*']

# Applies when PR branch name contains "docs" or "documentation" or changes markdown files
'📖 Documentation':
  - head-branch: ['docs', 'documentation']
  - changed-files:
    - any-glob-to-any-file: ['**/*.md']

# Applies when PR branch name contains "feat", "feature", or "enhance" or changes contract files
'✨ Enhancement':
  - head-branch: ['feat', 'feature', 'enhance']
  - changed-files:
    - any-glob-to-any-file: ['src/contracts/**/*']

# Applies when PR branch name contains "fix", "bug", or "patch"
'🔧 Fix':
  - head-branch: ['fix', 'patch']

# Applies when PR branch name contains "optimize" or "perf"
'⚡ Optimization':
  - head-branch: ['optimize', 'perf']

# Applies when PR branch name contains "refactor"
'♻️ Refactor':
  - head-branch: ['refactor']

# Applies when PR changes script files
'📜 Script':
  - changed-files:
    - any-glob-to-any-file: ['script/**/*', 'bin/**/*']

# Applies when PR targets the slashing integration testing branch
'🗡️ Slashing Release':
  - base-branch: ['slashing','test/slashing-integration-testing']

# Applies when PR changes test files
'🧪 Test':
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*']

ci: change workflow target (#1285)
  .github/workflows/foundry.yml
Labels: none

ci: disable auto labeler to prepare for enabling fork-based pr (#1279)
  .github/workflows/automation.yml
Labels: none

chore: remove goerli from all codebase (#1304)
  README.md
  bin/source-env.sh
  script/deploy/devnet/deploy_from_scratch.s.sol
  script/utils/validateStorage/README.md
  script/utils/validateStorage/validateUpgrade.sh
  src/test/unit/StrategyManagerUnit.t.sol
Labels: 📜 Script, 🧪 Test

doc: add how to sync from remote repo to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

doc: update
  CONTRIBUTING.md
Labels: none

chore: remove goerli from all codebase (#1304) (#1311)
  README.md
  bin/source-env.sh
  script/deploy/devnet/deploy_from_scratch.s.sol
  script/utils/validateStorage/README.md
  script/utils/validateStorage/validateUpgrade.sh
  src/test/unit/StrategyManagerUnit.t.sol
Labels: 📜 Script, 🧪 Test

chore: remove goerli from all codebase (#1304) (#1311)
  README.md
  bin/source-env.sh
  script/deploy/devnet/deploy_from_scratch.s.sol
  script/utils/validateStorage/README.md
  script/utils/validateStorage/validateUpgrade.sh
  src/test/unit/StrategyManagerUnit.t.sol
Labels: 📜 Script, 🧪 Test

docs: add how to sync from remote repo to CONTRIBUTING.md (#1312)
  CONTRIBUTING.md
Labels: none

docs: add how to sync from remote repo to CONTRIBUTING.md (#1312)
  CONTRIBUTING.md
Labels: none

chore: push
  script/releases/v1.3.0-slashing/4-completeCheckpoints/o.txt
  script/releases/v1.3.0-slashing/4-completeCheckpoints/script.go
Labels: 📜 Script

docs: update branch model in README
  README.md
Labels: none

docs: update branch model in README (#1313)
  README.md
Labels: none

feat: add fork block environment vars
  .env.example
  src/test/integration/IntegrationDeployer.t.sol
Labels: 🧪 Test

docs: maintain
  MAINTENANCE.md
Labels: none

update
  MAINTENANCE.md
Labels: none

update
  MAINTENANCE.md
Labels: none

docs: complete MAINTENANCE.md and clarify maintainers responsibility (#1314)
  MAINTENANCE.md
Labels: none

feat: simple multichain support
  src/test/integration/IntegrationDeployer.t.sol
  src/test/integration/tests/Deposit_Delegate_Undelegate_Complete.t.sol
  src/test/integration/tests/Deposit_Queue_Complete.t.sol
  src/test/integration/tests/eigenpod/DualSlashing.t.sol
  src/test/integration/tests/eigenpod/EigenPod.t.sol
  src/test/integration/tests/eigenpod/FullySlashed_EigenPod.t.sol
  src/test/integration/tests/eigenpod/Register_Allocate_Slash_VerifyWC_.t.sol
  src/test/integration/tests/eigenpod/SlashBC_OneBCSF.t.sol
  src/test/integration/tests/eigenpod/Slashed_Eigenpod_AVS.t.sol
  src/test/integration/tests/eigenpod/Slashed_Eigenpod_BC.t.sol
  src/test/integration/tests/eigenpod/VerifyWC_StartCP_CompleteCP.t.sol
  src/test/integration/tests/upgrade/UpgradeTest.t.sol
  src/test/integration/users/AVS.t.sol
  src/test/integration/users/User.t.sol
  src/test/utils/Logger.t.sol
Labels: 🧪 Test

chore: make fmt
  src/test/integration/tests/Deposit_Delegate_Undelegate_Complete.t.sol
Labels: 🧪 Test

fix: hoodi strategy addresses
  script/configs/hoodi.toml
Labels: 📜 Script

Improve `IAVSRegistrar` references in `AllocationManager` docs
  docs/core/AllocationManager.md
Labels: none

fix: remove panics
  script/releases/v1.3.0-slashing/4-completeCheckpoints/script.go
Labels: 📜 Script

docs: simplify readme and consolidate with CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
Labels: none

docs: simplify readme and consolidate with CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
Labels: none

docs: simplify readme and consolidate with CONTRIBUTING.md (#1317)
  CONTRIBUTING.md
  README.md
Labels: none

docs: improve readability and searchbility with tabs for deployment contracts
  README.md
Labels: none

docs: improve readability and searchbility with tabs for deployment contracts (#1318)
  README.md
Labels: none

ci: change certora prover to run on main
  .github/workflows/certora-prover.yml
Labels: none

refactor: wip
  .env.example
  cache/fuzz/failures
  cache/test-failures
  script/deploy/devnet/deploy_from_scratch.s.sol
  script/deploy/local/deploy_from_scratch.slashing.s.sol
  snapshots/Integration_ALM_Multi.json
  src/test/Config.t.sol
  src/test/ConfigParser.t.sol
  src/test/integration/IntegrationDeployer.t.sol
  src/test/integration/tests/eigenpod/EigenPod.t.sol
  src/test/integration/tests/upgrade/UpgradeTest.t.sol
  src/test/integration/users/User.t.sol
  src/test/unit/DeployFromScratch.t.sol
Labels: 📜 Script, 🧪 Test

ci: change certora prover to run on main (#1319)
  .github/workflows/certora-prover.yml
Labels: none

ci: add path filter for intense test
  .github/workflows/foundry-post-merge.yml
  .github/workflows/foundry.yml
Labels: none

ci: add path filter for intense test (#1320)
  .github/workflows/foundry-post-merge.yml
  .github/workflows/foundry.yml
Labels: none

test: passing (FINALLY)
  src/test/integration/IntegrationDeployer.t.sol
Labels: 🧪 Test

test: more passing
  .env.example
  .github/workflows/foundry.yml
  src/test/integration/IntegrationDeployer.t.sol
Labels: 🧪 Test

chore: make fmt
  src/test/integration/IntegrationDeployer.t.sol
Labels: 🧪 Test

wip
  src/test/integration/IntegrationDeployer.t.sol
  src/test/integration/tests/Delegate_Deposit_Queue_Complete.t.sol
Labels: 🧪 Test

ci: add action to delete unauthorized branches that do not follow branching policy
  .github/workflows/delete-unauthrized-branches.yml
Labels: none

update
  .github/workflows/delete-unauthrized-branches.yml
Labels: none

ci: add action to delete unauthorized branches that do not follow branching policy (#1321)
  .github/workflows/delete-unauthrized-branches.yml
Labels: none
