Repository Layr-Labs/eigenlayer-contracts, changes with the labels that .github/labeler.yml gives for each.
All labels: 📜 Script, 🧪 Test

fix
  .github/workflows/foundry-advanced.yml
Labels: none

fix
  .github/workflows/foundry-advanced.yml
Labels: none

feat(wip): toml based config parsing
  script/configs/mainnet/mainnet-addresses.config.toml
  src/test/ParseMainnetConfig.t.sol
Labels: 📜 Script, 🧪 Test

feat(wip): toml based config parsing
  script/configs/mainnet/mainnet-addresses.config.toml
  src/test/ParseMainnetConfig.t.sol
Labels: 📜 Script, 🧪 Test

chore: make fmt
  cache/test-failures
  src/test/ParseMainnetConfig.t.sol
Labels: 🧪 Test

feat(wip): toml based config parsing
  script/configs/mainnet/mainnet-addresses.toml
  src/test/ConfigParser.sol
  src/test/ParseMainnetConfig.t.sol
Labels: 📜 Script, 🧪 Test

refactor: change to dup declaration to save a bit of size
  src/contracts/core/DelegationManager.sol
Labels: none

fix: order
  script/configs/mainnet/mainnet-addresses.toml
  src/test/ConfigParser.sol
Labels: 📜 Script, 🧪 Test

chore: address ep/epm informational (#1272)
  src/contracts/pods/EigenPod.sol
  src/contracts/pods/EigenPodPausingConstants.sol
  src/test/unit/EigenPodUnit.t.sol
  src/test/unit/libraries/BytesLibUnit.t.sol
  src/test/utils/BytesLib.sol
Labels: 🧪 Test

chore: address ep/epm informational (#1272)
  src/contracts/pods/EigenPod.sol
  src/contracts/pods/EigenPodPausingConstants.sol
  src/test/unit/EigenPodUnit.t.sol
  src/test/unit/libraries/BytesLibUnit.t.sol
  src/test/utils/BytesLib.sol
Labels: 🧪 Test

docs: deregistration must not revert
  docs/core/AllocationManager.md
Labels: none

docs: correct and clarify negative rebase side effect
  docs/core/accounting/StrategyBaseAccounting.md
Labels: none

docs: effectBlock on allocations not incremented
  docs/core/AllocationManager.md
Labels: none

docs: delegating to operator with low mag result in loss of funds
  docs/core/DelegationManager.md
Labels: none

docs: completing as shares after strategy not in whitelist
  docs/core/DelegationManager.md
Labels: none

docs: deposits are immediately slashable
  docs/core/DelegationManager.md
Labels: none

docs: add edge case on full deposits
  docs/core/accounting/SharesAccountingEdgeCases.md
Labels: none

docs: add edge case on full deposits
  docs/core/accounting/SharesAccountingEdgeCases.md
Labels: none

docs: deallocation not instantly slashable if strategy removed while pending
  docs/core/AllocationManager.md
Labels: none

docs: add operators with negative share allocation warning
  docs/core/AllocationManager.md
Labels: none

docs: add longtail audit report
  audits/Permissionless Strategies - Sigma Prime - Aug 2024.pdf
Labels: none

docs: post-cantina doc updates (#1266)
  audits/Permissionless Strategies - Sigma Prime - Aug 2024.pdf
  docs/core/AllocationManager.md
  docs/core/DelegationManager.md
  docs/core/accounting/SharesAccountingEdgeCases.md
  docs/core/accounting/StrategyBaseAccounting.md
Labels: none

chore: update fuzz runs for test_Multi
  snapshots/Integration_ALM_Multi.json
  src/test/integration/tests/ALM_Multi.t.sol
Labels: 🧪 Test

fix: unit test
  src/test/unit/EigenPodManagerUnit.t.sol
Labels: 🧪 Test

chore: update randomness
  src/test/integration/tests/ALM_Multi.t.sol
Labels: 🧪 Test

fix: build
  src/test/integration/tests/Deposit_Queue_Complete.t.sol
Labels: 🧪 Test

fix: cast overflow bug
  certora/specs/pods/EigenPodManagerRules.spec
  src/contracts/pods/EigenPodManager.sol
  src/test/unit/EigenPodManagerUnit.t.sol
Labels: 🧪 Test

test: integration regression test of exploit
  src/test/integration/tests/Deposit_Queue_Complete.t.sol
Labels: 🧪 Test

chore: test forge fmt
  src/test/integration/tests/Deposit_Queue_Complete.t.sol
  src/test/unit/EigenPodManagerUnit.t.sol
Labels: 🧪 Test

feat(wip): toml based config parsing
  script/configs/mainnet/mainnet-addresses.toml
  src/test/ConfigParser.sol
Labels: 📜 Script, 🧪 Test

fix(cantina): deposit share cast bug (#1265)
  certora/specs/pods/EigenPodManagerRules.spec
  snapshots/Integration_ALM_Multi.json
  src/contracts/pods/EigenPodManager.sol
  src/test/integration/tests/ALM_Multi.t.sol
  src/test/integration/tests/Deposit_Queue_Complete.t.sol
  src/test/unit/EigenPodManagerUnit.t.sol
Labels: 🧪 Test

fix(cantina): deposit share cast bug (#1265)
  certora/specs/pods/EigenPodManagerRules.spec
  snapshots/Integration_ALM_Multi.json
  src/contracts/pods/EigenPodManager.sol
  src/test/integration/tests/ALM_Multi.t.sol
  src/test/integration/tests/Deposit_Queue_Complete.t.sol
  src/test/unit/EigenPodManagerUnit.t.sol
Labels: 🧪 Test

refactor: fix size issue
  src/contracts/core/DelegationManager.sol
Labels: none

ci: merge Fork tests with new rpc
  .github/workflows/foundry-advanced.yml
  .github/workflows/foundry.yml
Labels: none

fix
  .github/workflows/foundry-advanced.yml
Labels: none

fix
  .github/workflows/foundry-advanced.yml
Labels: none

chore: add event to dsf reset on full withdrawal (#1270)
  src/contracts/core/DelegationManager.sol
  src/test/unit/DelegationUnit.t.sol
Labels: 🧪 Test

Improve error message clarity in IDelegationManager interface
  src/contracts/interfaces/IDelegationManager.sol
Labels: none

chore: add event to dsf reset on full withdrawal (#1270)
  src/contracts/core/DelegationManager.sol
  src/test/unit/DelegationUnit.t.sol
Labels: 🧪 Test

chore: fix test
  src/test/integration/tests/Deposit_Queue_Complete.t.sol
Labels: 🧪 Test

.github/labeler.yml:

# Cannot move to .github/configs/ for some reason... this should do for now.

# Applies when PR branch name contains "bug" or "fix"
'🐞 Bug':
  - head-branch: ['bug']

# Applies when PR branch name contains "chore"
'📜 Chore':
  - head-branch: ['chore']
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', '.vscode/**/*', '.devcontainer/**/*', '.*', '.*rc', '.*ignore', '.env*']

# Applies when PR branch name contains "docs" or "documentation" or changes markdown files
'📖 Documentation':
  - head-branch: ['docs', 'documentation']
  - changed-files:
    - any-glob-to-any-file: ['**/*.md']

# Applies when PR branch name contains "feat", "feature", or "enhance" or changes contract files
'✨ Enhancement':
  - head-branch: ['feat', 'feature', 'enhance']
  - changed-files:
    - any-glob-to-any-file: ['src/contracts/**/*']

# Applies when PR branch name contains "fix", "bug", or "patch"
'🔧 Fix':
  - head-branch: ['fix', 'patch']

# Applies when PR branch name contains "optimize" or "perf"
'⚡ Optimization':
  - head-branch: ['optimize', 'perf']

# Applies when PR branch name contains "refactor"
'♻️ Refactor':
  - head-branch: ['refactor']

# Applies when PR changes script files
'📜 Script':
  - changed-files:
    - any-glob-to-any-file: ['script/**/*', 'bin/**/*']

# Applies when PR targets the slashing integration testing branch
'🗡️ Slashing Release':
  - base-branch: ['slashing','test/slashing-integration-testing']

# Applies when PR changes test files
'🧪 Test':
  - changed-files:
    - any-glob-to-any-file: ['src/test/**/*']
