Repository Layr-Labs/eigenlayer-contracts, pull requests merged in 2025-06, with the labels that each got.

#1423 feat: multi chain interfaces
  src/contracts/interfaces/IBN254CertificateVerifier.sol
  src/contracts/interfaces/IBN254TableCalculator.sol
  src/contracts/interfaces/IBaseCertificateVerifier.sol
  src/contracts/interfaces/ICrossChainRegistry.sol
  src/contracts/interfaces/IECDSACertificateVerifier.sol
  src/contracts/interfaces/IECDSATableCalculator.sol
  src/contracts/interfaces/IOperatorTableUpdater.sol
  src/contracts/libraries/BN254.sol
Labels: multichain

#1428 chore: update testnet addresses for redistribution
  README.md
Labels: ♻️ Redistribution

#1442 chore: operator table calculator refactor
  src/contracts/interfaces/IBN254CertificateVerifier.sol
  src/contracts/interfaces/IBN254TableCalculator.sol
  src/contracts/interfaces/IBaseCertificateVerifier.sol
  src/contracts/interfaces/ICrossChainRegistry.sol
  src/contracts/interfaces/IECDSACertificateVerifier.sol
  src/contracts/interfaces/IECDSATableCalculator.sol
  src/contracts/interfaces/IKeyRegistrar.sol
  src/contracts/interfaces/IOperatorTableCalculator.sol
  src/contracts/interfaces/IOperatorTableUpdater.sol
  src/contracts/interfaces/multichain/IOperatorTableCalculator.sol
  src/contracts/multichain/BN254CertificateVerifier.sol
  src/contracts/multichain/BN254TableCalculator.sol
  src/contracts/multichain/ECDSATableCalculator.sol
  src/contracts/permissions/KeyRegistrar.sol
  src/contracts/permissions/KeyRegistrarStorage.sol
  src/test/mocks/AllocationManagerMock.sol
  src/test/unit/BN254CertificateVerifierUnit.t.sol
  src/test/unit/BN254TableCalculatorUnit.t.sol
  src/test/utils/EigenLayerMultichainUnitTestSetup.sol
Labels: 🌎multichain

#1429 feat: bn254 operator table contracts
  script/utils/ExistingDeploymentParser.sol
  src/contracts/interfaces/IAllocationManager.sol
  src/contracts/interfaces/IBN254TableCalculator.sol
  src/contracts/interfaces/IECDSATableCalculator.sol
  src/contracts/interfaces/IOperatorTableCalculator.sol
  src/contracts/interfaces/IOperatorTableUpdater.sol
  src/contracts/multichain/BN254CertificateVerifier.sol
  src/contracts/multichain/BN254TableCalculator.sol
  src/test/integration/IntegrationBase.t.sol
  src/test/integration/IntegrationDeployer.t.sol
  src/test/integration/tests/multichain/BN254OperatorSet_CalculateWeights.t.sol
  src/test/integration/users/AVS.t.sol
  src/test/integration/users/User.t.sol
  src/test/mocks/AllocationManagerMock.sol
  src/test/unit/BN254CertificateVerifierUnit.t.sol
  src/test/unit/BN254TableCalculatorUnit.t.sol
  src/test/utils/EigenLayerMultichainUnitTestSetup.sol
Labels: 🌎multichain

#1447 chore: update BN254CertificateVerifier
  foundry.toml
  src/contracts/multichain/BN254CertificateVerifier.sol
  src/contracts/multichain/BN254CertificateVerifierStorage.sol
  src/test/integration/tests/ALM_Multi.t.sol
  src/test/unit/BN254CertificateVerifierUnit.t.sol
Labels: 🌎multichain

#1439 feat: cross chain registry
  src/contracts/interfaces/ICrossChainRegistry.sol
  src/contracts/multichain/CrossChainRegistry.sol
  src/contracts/multichain/CrossChainRegistryStorage.sol
  src/test/mocks/OperatorTableCalculatorMock.sol
  src/test/unit/CrossChainRegistryUnit.t.sol
  src/test/utils/EigenLayerMultichainUnitTestSetup.sol
Labels: 🌎multichain

#1452 chore: bindings
  pkg/bindings/AllocationManager/binding.go
  pkg/bindings/BN254/binding.go
  pkg/bindings/BN254CertificateVerifier/binding.go
  pkg/bindings/BN254CertificateVerifierStorage/binding.go
  pkg/bindings/BN254TableCalculator/binding.go
  pkg/bindings/BeaconChainProofs/binding.go
  pkg/bindings/CrossChainRegistry/binding.go
  pkg/bindings/CrossChainRegistryStorage/binding.go
  pkg/bindings/DelegationManager/binding.go
  pkg/bindings/EigenPod/binding.go
  pkg/bindings/EigenPodManager/binding.go
  pkg/bindings/EigenStrategy/binding.go
  pkg/bindings/IAllocationManager/binding.go
  pkg/bindings/IBN254CertificateVerifier/binding.go
  pkg/bindings/IBN254TableCalculator/binding.go
  pkg/bindings/ICrossChainRegistry/binding.go
  pkg/bindings/IECDSACertificateVerifier/binding.go
  pkg/bindings/IECDSATableCalculator/binding.go
  pkg/bindings/IKeyRegistrar/binding.go
  pkg/bindings/IOperatorTableCalculator/binding.go
  pkg/bindings/IOperatorTableUpdater/binding.go
  pkg/bindings/KeyRegistrar/binding.go
  pkg/bindings/KeyRegistrarStorage/binding.go
  pkg/bindings/Merkle/binding.go
  pkg/bindings/OperatorTableUpdater/binding.go
  pkg/bindings/OperatorTableUpdaterStorage/binding.go
  pkg/bindings/RewardsCoordinator/binding.go
  pkg/bindings/SlashEscrowFactory/binding.go
  pkg/bindings/StrategyBase/binding.go
  pkg/bindings/StrategyBaseTVLLimits/binding.go
  pkg/bindings/StrategyFactory/binding.go
  pkg/bindings/StrategyManager/binding.go
Labels: 🌎multichain

#1459 fix(audit): out-of-gas issue
  docs/core/SlashEscrowFactory.md
  src/contracts/core/SlashEscrowFactory.sol
  src/contracts/core/SlashEscrowFactoryStorage.sol
  src/contracts/interfaces/ISlashEscrowFactory.sol
  src/test/integration/IntegrationBase.t.sol
  src/test/integration/IntegrationChecks.t.sol
  src/test/unit/SlashEscrowFactoryUnit.t.sol
Labels: ♻️ Redistribution

#1457 refactor: `CrossChainRegistry`
  pkg/bindings/BN254CertificateVerifier/binding.go
  pkg/bindings/BN254SignatureVerifier/binding.go
  pkg/bindings/CrossChainRegistry/binding.go
  pkg/bindings/CrossChainRegistryStorage/binding.go
  pkg/bindings/ICrossChainRegistry/binding.go
  pkg/bindings/KeyRegistrar/binding.go
  pkg/bindings/OperatorTableUpdater/binding.go
  src/contracts/interfaces/ICrossChainRegistry.sol
  src/contracts/multichain/CrossChainRegistry.sol
  src/test/tree/CrossChainRegistry.tree
  src/test/unit/CrossChainRegistryUnit.t.sol
Labels: 🌎 Multichain

#1464 chore: add sig digest functions to interface
  pkg/bindings/BN254CertificateVerifier/binding.go
  pkg/bindings/BN254TableCalculator/binding.go
  pkg/bindings/CrossChainRegistry/binding.go
  pkg/bindings/IKeyRegistrar/binding.go
  pkg/bindings/KeyRegistrar/binding.go
  pkg/bindings/KeyRegistrarStorage/binding.go
  pkg/bindings/OperatorTableUpdater/binding.go
  src/contracts/interfaces/IKeyRegistrar.sol
  src/contracts/permissions/KeyRegistrar.sol
Labels: 🌎 Multichain

#1465 chore: add helper view function
  pkg/bindings/BN254CertificateVerifier/binding.go
  pkg/bindings/BN254TableCalculator/binding.go
  pkg/bindings/CrossChainRegistry/binding.go
  pkg/bindings/IKeyRegistrar/binding.go
  pkg/bindings/KeyRegistrar/binding.go
  pkg/bindings/KeyRegistrarStorage/binding.go
  pkg/bindings/OperatorTableUpdater/binding.go
  src/contracts/interfaces/IKeyRegistrar.sol
  src/contracts/permissions/KeyRegistrar.sol
  src/test/unit/KeyRegistrarUnit.t.sol
Labels: 🌎 Multichain

#1441 refactor: remove only redistribution recipient check
  docs/core/SlashEscrowFactory.md
  src/contracts/core/SlashEscrowFactory.sol
  src/contracts/interfaces/ISlashEscrowFactory.sol
  src/test/unit/SlashEscrowFactoryUnit.t.sol
Labels: ♻️ Redistribution

#1467 docs(audit): note upgrade rescue flow
  docs/core/SlashEscrowFactory.md
  src/contracts/interfaces/ISlashEscrowFactory.sol
Labels: ♻️ Redistribution

#1472 feat: add `referenceBlockNumber`
  pkg/bindings/BN254CertificateVerifier/binding.go
  pkg/bindings/ECDSACertificateVerifier/binding.go
  pkg/bindings/IOperatorTableUpdater/binding.go
  pkg/bindings/OperatorTableUpdater/binding.go
  pkg/bindings/OperatorTableUpdaterStorage/binding.go
  src/contracts/interfaces/IOperatorTableUpdater.sol
  src/contracts/multichain/OperatorTableUpdater.sol
  src/contracts/multichain/OperatorTableUpdaterStorage.sol
  src/test/tree/OperatorTableUpdaterUnit.tree
  src/test/unit/OperatorTableUpdaterUnit.t.sol
Labels: 🌎 Multichain

#1476 refactor: `Bn254CertificateVerifierUnitTests`
  pkg/bindings/BN254CertificateVerifier/binding.go
  pkg/bindings/BN254CertificateVerifierStorage/binding.go
  pkg/bindings/ECDSACertificateVerifier/binding.go
  pkg/bindings/ECDSACertificateVerifierStorage/binding.go
  pkg/bindings/ECDSATableCalculator/binding.go
  pkg/bindings/ECDSATableCalculatorBase/binding.go
  pkg/bindings/IBN254CertificateVerifier/binding.go
  pkg/bindings/IECDSACertificateVerifier/binding.go
  pkg/bindings/OperatorTableUpdater/binding.go
  script/deploy/devnet/mutlichain/deploy_multichain_l2.s.sol
  src/contracts/interfaces/IBN254CertificateVerifier.sol
  src/contracts/multichain/BN254CertificateVerifier.sol
  src/test/mocks/CrossChainRegistryMock.sol
  src/test/mocks/OperatorTableUpdaterMock.sol
  src/test/tree/BN254CertificateVerifier.tree
  src/test/unit/BN254CertificateVerifierUnit.t.sol
  src/test/unit/CrossChainRegistryUnit.t.sol
  src/test/utils/EigenLayerMultichainUnitTestSetup.sol
Labels: 🌎 Multichain

#1478 refactor: `ECDSACertificateVerifier` testing
  pkg/bindings/BN254CertificateVerifier/binding.go
  pkg/bindings/ECDSACertificateVerifier/binding.go
  pkg/bindings/ECDSACertificateVerifierStorage/binding.go
  pkg/bindings/IECDSACertificateVerifier/binding.go
  pkg/bindings/OperatorTableUpdater/binding.go
  src/contracts/interfaces/IECDSACertificateVerifier.sol
  src/contracts/multichain/ECDSACertificateVerifier.sol
  src/test/tree/ECDSACertificateVerifierUnit.tree
  src/test/unit/ECDSACertificateVerifierUnit.t.sol
Labels: 🌎 Multichain

#1479 refactor: `ECDSATableCalculator` testing
  src/test/tree/ECDSATableCalculatorBase.tree
  src/test/unit/ECDSATableCalculatorBaseUnit.t.sol
Labels: 🌎 Multichain

#1488 docs: multichain docs
  docs/images/multichain-registration.png
  docs/multichain/README.md
  docs/multichain/destination/CertificateVerifier.md
  docs/multichain/source/CrossChainRegistry.md
  docs/multichain/source/OperatorTableCalculator.md
  docs/permissions/KeyRegistrar.md
  pkg/bindings/BN254CertificateVerifier/binding.go
  pkg/bindings/BN254TableCalculator/binding.go
  pkg/bindings/ECDSACertificateVerifier/binding.go
  pkg/bindings/ECDSATableCalculator/binding.go
  pkg/bindings/KeyRegistrar/binding.go
  pkg/bindings/OperatorTableUpdater/binding.go
  src/contracts/interfaces/IBN254CertificateVerifier.sol
  src/contracts/interfaces/IBN254TableCalculator.sol
  src/contracts/interfaces/IECDSACertificateVerifier.sol
  src/contracts/interfaces/IECDSATableCalculator.sol
  src/contracts/permissions/KeyRegistrar.sol
Labels: 🌎 Multichain

#1498 chore: remove stale bindings
  pkg/bindings/BN254TableCalculator/binding.go
  pkg/bindings/BN254TableCalculatorBase/binding.go
  pkg/bindings/ECDSATableCalculator/binding.go
  pkg/bindings/ECDSATableCalculatorBase/binding.go
  pkg/bindings/IBN254TableCalculator/binding.go
  pkg/bindings/IECDSATableCalculator/binding.go
  src/contracts/interfaces/IBN254TableCalculator.sol
  src/contracts/interfaces/IECDSATableCalculator.sol
Labels: 🌎 Multichain

#1500 refactor: `globalRootConfirmerSet` -> `generator`
  docs/multichain/destination/OperatorTableUpdater.md
  pkg/bindings/BN254CertificateVerifier/binding.go
  pkg/bindings/ECDSACertificateVerifier/binding.go
  pkg/bindings/IOperatorTableUpdater/binding.go
  pkg/bindings/OperatorTableUpdater/binding.go
  pkg/bindings/OperatorTableUpdaterStorage/binding.go
  src/contracts/interfaces/IOperatorTableUpdater.sol
  src/contracts/multichain/OperatorTableUpdater.sol
  src/contracts/multichain/OperatorTableUpdaterStorage.sol
  src/test/tree/OperatorTableUpdaterUnit.tree
  src/test/unit/OperatorTableUpdaterUnit.t.sol
Labels: 🌎 Multichain
