Repository Layr-Labs/eigenlayer-contracts, pull requests merged in 2025-02, with the labels that each got.

#1091 fix: funny syntax
  src/contracts/core/AllocationManager.sol
  src/contracts/libraries/OperatorSetLib.sol
Labels: enhancement, slashing audit fix

#1088 docs: small slash amounts
  docs/core/AllocationManager.md
  src/contracts/interfaces/IAllocationManager.sol
Labels: slashing audit fix

#1087 fix: beaconchain slashable shares in queue
  src/contracts/core/DelegationManager.sol
  src/test/unit/DelegationUnit.t.sol
Labels: slashing audit fix

#1093 docs: rounding for stakers/operators
  docs/core/accounting/SharesAccountingEdgeCases.md
Labels: slashing audit fix

#1045 fix: delegate shares
  docs/core/accounting/SharesAccounting.md
  src/contracts/core/DelegationManager.sol
  src/contracts/core/StrategyManager.sol
  src/contracts/interfaces/IShareManager.sol
  src/contracts/libraries/SlashingLib.sol
  src/contracts/pods/EigenPodManager.sol
  src/test/integration/IntegrationBase.t.sol
  src/test/integration/IntegrationChecks.t.sol
  src/test/integration/IntegrationDeployer.t.sol
  src/test/integration/mocks/BeaconChainMock.t.sol
  src/test/integration/tests/Deposit_Delegate_Redelegate_Complete.t.sol
  src/test/integration/tests/Deposit_Delegate_Undelegate_Complete.t.sol
  src/test/integration/tests/Slashed_Eigenpod.t.sol
  src/test/integration/users/User.t.sol
  src/test/mocks/EigenPodManagerMock.sol
  src/test/mocks/StrategyManagerMock.sol
  src/test/unit/DelegationUnit.t.sol
  src/test/unit/mixins/SignatureUtilsUnit.t.sol
Labels: slashing audit fix

#1101 refactor: limit continuous fuzzing to dev branch
  .github/workflows/foundry.yml
Labels: enhancement

#1096 docs: upgrades can invalidate permissions
  src/contracts/interfaces/IPermissionController.sol
Labels: slashing audit fix

#1102 refactor: registrar interfaces
  script/tasks/register_operator_to_operatorSet.s.sol
  src/contracts/core/AllocationManager.sol
  src/contracts/interfaces/IAVSRegistrar.sol
  src/contracts/interfaces/IAllocationManager.sol
  src/test/integration/users/AVS.t.sol
  src/test/mocks/MockAVSRegistrar.sol
  src/test/unit/AllocationManagerUnit.t.sol
Labels: enhancement, slashing

#1107 fix: reentrant guards
  src/contracts/core/DelegationManager.sol
  src/contracts/core/StrategyManager.sol
  src/contracts/pods/EigenPodManager.sol
Labels: slashing audit fix

#1106 fix: dont call strategy if we have no burnable shares
  docs/core/StrategyManager.md
  src/contracts/core/StrategyManager.sol
Labels: slashing audit fix

#1119 docs: fix all misspellings
  certora/specs/core/Slasher.spec
  certora/specs/libraries/StructuredLinkedList.spec
  docs/README.md
  docs/core/AVSDirectory.md
  docs/core/AllocationManager.md
  docs/core/DelegationManager.md
  docs/core/RewardsCoordinator.md
  docs/core/accounting/SharesAccountingEdgeCases.md
  package.json
  script/deploy/devnet/deploy_from_scratch.s.sol
  script/utils/ExistingDeploymentParser.sol
  src/contracts/core/AVSDirectory.sol
  src/contracts/core/DelegationManager.sol
  src/contracts/core/DelegationManagerStorage.sol
  src/contracts/core/RewardsCoordinatorStorage.sol
  src/contracts/interfaces/IAVSDirectory.sol
  src/contracts/interfaces/IDelegationManager.sol
  src/contracts/interfaces/IPermissionController.sol
  src/contracts/interfaces/IRewardsCoordinator.sol
  src/contracts/libraries/BytesLib.sol
  src/contracts/strategies/EigenStrategy.sol
  src/contracts/strategies/StrategyBase.sol
  src/test/integration/IntegrationDeployer.t.sol
  src/test/integration/users/User.t.sol
  src/test/integration/users/User_M2.t.sol
  src/test/tree/AllocationManagerUnit.tree
  src/test/tree/PermissionControllerUnit.tree
  src/test/unit/AllocationManagerUnit.t.sol
  src/test/unit/DelegationUnit.t.sol
  src/test/unit/EigenPodManagerUnit.t.sol
Labels: documentation

#1123 perf: install lcov via prebuilt binary, instead of via apt
  .github/workflows/foundry.yml
Labels: enhancement, optimization

#1126 feat: add typos-cli ci check
  .github/configs/typos-cli.toml
  .github/workflows/checks.yml
  Makefile
  certora/specs/core/Slasher.spec
  src/test/integration/IntegrationChecks.t.sol
  src/test/unit/EigenPodManagerUnit.t.sol
Labels: feature

#1025 feat: require avs register metadata in allocation manager
  docs/core/AllocationManager.md
  src/contracts/core/AllocationManager.sol
  src/contracts/core/AllocationManagerStorage.sol
  src/contracts/interfaces/IAllocationManager.sol
  src/test/integration/IntegrationBase.t.sol
  src/test/integration/users/AVS.t.sol
  src/test/unit/AllocationManagerUnit.t.sol
Labels: enhancement

#1130 refactor: `getSharesForQueuedWithdrawal`
  src/contracts/core/DelegationManager.sol
  src/contracts/interfaces/IDelegationManager.sol
  src/test/unit/DelegationUnit.t.sol
Labels: slashing audit fix

#1083 test: slash invariants
  src/test/integration/IntegrationBase.t.sol
  src/test/integration/IntegrationChecks.t.sol
  src/test/integration/tests/ALM_RegisterAndModify.t.sol
  src/test/integration/tests/SlashingWithdrawals.t.sol
  src/test/integration/users/AVS.t.sol
Labels: test

#1133 refactor: rename inconsistent `getQueuedWithdrawal` alias
  src/contracts/core/DelegationManager.sol
  src/contracts/core/DelegationManagerStorage.sol
  src/contracts/interfaces/IDelegationManager.sol
  src/test/integration/tests/Slashed_Eigenpod.t.sol
  src/test/unit/DelegationUnit.t.sol
Labels: slashing audit fix

#1149 test: improve slashing invariants and refactor user generation logic
  .vscode/settings.json
  src/test/integration/IntegrationBase.t.sol
  src/test/integration/IntegrationChecks.t.sol
  src/test/integration/IntegrationDeployer.t.sol
  src/test/integration/tests/Delegate_Deposit_Queue_Complete.t.sol
  src/test/integration/tests/Deposit_Delegate_Allocate_Slash_Queue_Redeposit.t.sol
  src/test/integration/tests/Deposit_Delegate_Queue_Complete.t.sol
  src/test/integration/tests/Deposit_Delegate_Redelegate_Complete.t.sol
  src/test/integration/tests/Deposit_Register_QueueWithdrawal_Complete.t.sol
  src/test/integration/tests/Slashed_Eigenpod.t.sol
  src/test/integration/tests/SlashingWithdrawals.t.sol
  src/test/utils/Logger.t.sol
Labels: slashing, test

#1164 chore: comment out paths in foundry.yml workflow
  .github/workflows/foundry.yml
Labels: chore

#1163 test: bc full and half slashes
  src/test/integration/IntegrationBase.t.sol
  src/test/integration/IntegrationChecks.t.sol
  src/test/integration/mocks/BeaconChainMock.t.sol
  src/test/integration/tests/FullySlashed_EigenPod.t.sol
  src/test/integration/tests/Slashed_Eigenpod.t.sol
  src/test/integration/tests/eigenpod/VerifyWC_StartCP_CompleteCP.t.sol
  src/test/unit/EigenPodUnit.t.sol
Labels: 🗡️ Slashing Release, 🧪 Test

#1174 docs: add warning in PR template
  .github/pull_request_template.md
Labels: 📖 Documentation

#1177 feat: add pull request labeler to ci pipeline
  .github/labeler.yml
  .github/workflows/automation.yml
Labels: ✨ Enhancement, 📜 Chore

#1158 test: timing integration tests
  src/test/integration/IntegrationBase.t.sol
  src/test/integration/tests/Timing.t.sol
Labels: 🗡️ Slashing Release, 🧪 Test

#1186 chore: improve labeler config
  .github/labeler.yml
Labels: 📜 Chore, ♻️ Refactor

#1153 test: bc/avs slash tests
  src/test/integration/IntegrationBase.t.sol
  src/test/integration/IntegrationChecks.t.sol
  src/test/integration/tests/DualSlashing.t.sol
Labels: 🗡️ Slashing Release, 🧪 Test

#1193 chore(ci): lint pr titles
  .github/workflows/automation.yml
  .github/workflows/checks.yml
Labels: 📜 Chore, ♻️ Refactor

#1175 test: adding slashable shares in queue
  src/test/integration/IntegrationBase.t.sol
  src/test/integration/IntegrationChecks.t.sol
  src/test/integration/IntegrationDeployer.t.sol
Labels: 🗡️ Slashing Release, 🧪 Test

#1169 test: more slashing state validation
  src/test/integration/IntegrationBase.t.sol
  src/test/integration/IntegrationChecks.t.sol
  src/test/integration/tests/Deposit_Delegate_Allocate_Slash_Queue_Redeposit.t.sol
  src/test/integration/tests/upgrade/Delegate_Upgrade_Allocate.t.sol
Labels: 🗡️ Slashing Release, 🧪 Test
