Repository Layr-Labs/eigenlayer-contracts, pull requests merged in 2025-04, with the labels that each got.

#1275 ci: remove chain id from secrets and env vars
  .github/workflows/foundry.yml
Labels: 📜 Chore, 🚗 CI

#1278 ci: change push branch to main
  .github/workflows/foundry.yml
Labels: 📜 Chore

#1279 ci: disable auto labeler to prepare for enabling fork-based pr
  .github/workflows/automation.yml
Labels: 🚗 CI

#1285 ci: change workflow target
  .github/workflows/foundry.yml
Labels: 🚗 CI

#1272 chore: address ep/epm informational
  src/contracts/pods/EigenPod.sol
  src/contracts/pods/EigenPodPausingConstants.sol
  src/test/unit/EigenPodUnit.t.sol
  src/test/unit/libraries/BytesLibUnit.t.sol
  src/test/utils/BytesLib.sol
Labels: ✨ Enhancement, 🧪 Test

#1266 docs: post-cantina doc updates
  audits/Permissionless Strategies - Sigma Prime - Aug 2024.pdf
  docs/core/AllocationManager.md
  docs/core/DelegationManager.md
  docs/core/accounting/SharesAccountingEdgeCases.md
  docs/core/accounting/StrategyBaseAccounting.md
Labels: 📖 Documentation

#1270 chore: add event to dsf reset on full withdrawal
  src/contracts/core/DelegationManager.sol
  src/test/unit/DelegationUnit.t.sol
Labels: ✨ Enhancement, ⚖️ Audit Fix, 🧪 Test

#1286 feat: cantina preprod/testnet upgrade scripts
  script/releases/v1.4.0-slashing/1-deployContracts.s.sol
  script/releases/v1.4.0-slashing/3-execute.s.sol
  script/releases/v1.4.1-slashing/1-deployContracts.s.sol
  script/releases/v1.4.1-slashing/2-queueUpgrade.s.sol
  script/releases/v1.4.1-slashing/3-execute.s.sol
  script/releases/v1.4.1-slashing/upgrade.json
Labels: 📜 Script

#1297 fix: v1.4.1 execute script name
  script/releases/v1.4.1-slashing/3-executeUpgrade.s.sol
Labels: 📜 Script

#1300 docs: rewrite CONTRIBUTING.md
  CONTRIBUTING.md
Labels: 📖 Documentation

#1257 feat: mainnet upgrade scripts
  .github/configs/typos-cli.toml
  script/releases/Env.sol
  script/releases/v1.3.0-slashing/1-deployContracts.s.sol
  script/releases/v1.3.0-slashing/2-queueUpgradeAndUnpause.s.sol
  script/releases/v1.3.0-slashing/3-pause.s.sol
  script/releases/v1.3.0-slashing/4-completeCheckpoints/EigenPod.abi.json
  script/releases/v1.3.0-slashing/4-completeCheckpoints/EigenPodManager.abi.json
  script/releases/v1.3.0-slashing/4-completeCheckpoints/go.mod
  script/releases/v1.3.0-slashing/4-completeCheckpoints/go.sum
  script/releases/v1.3.0-slashing/4-completeCheckpoints/script.go
  script/releases/v1.3.0-slashing/4-completeCheckpoints/start.sh
  script/releases/v1.3.0-slashing/5-executeUpgradeAndUnpause.s.sol
  script/releases/v1.3.0-slashing/upgrade.json
Labels: 📜 Script, 📜 Chore

#1303 docs: author MAINTENANCE.md with environment network definitions and development workflow
  MAINTENANCE.md
Labels: 📖 Documentation

#1304 chore: remove goerli from all codebase
  README.md
  bin/source-env.sh
  script/deploy/devnet/deploy_from_scratch.s.sol
  script/utils/validateStorage/README.md
  script/utils/validateStorage/validateUpgrade.sh
  src/test/unit/StrategyManagerUnit.t.sol
Labels: 📜 Chore

#1312 docs: add how to sync from remote repo to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: 📖 Documentation

#1314 docs: complete MAINTENANCE.md and clarify maintainers responsibility
  MAINTENANCE.md
Labels: 📖 Documentation

#1308 fix: mainnet pectra script
  script/releases/v1.2.0-slashing/forkTimestamp.txt
  script/releases/v1.3.0-slashing/1-deployContracts.s.sol
  script/releases/v1.3.0-slashing/2-queueUpgradeAndUnpause.s.sol
  script/releases/v1.3.0-slashing/3-pause.s.sol
  script/releases/v1.3.0-slashing/4-completeCheckpoints/EigenPod.abi.json
  script/releases/v1.3.0-slashing/4-completeCheckpoints/EigenPodManager.abi.json
  script/releases/v1.3.0-slashing/4-completeCheckpoints/go.mod
  script/releases/v1.3.0-slashing/4-completeCheckpoints/go.sum
  script/releases/v1.3.0-slashing/4-completeCheckpoints/script.go
  script/releases/v1.3.0-slashing/4-completeCheckpoints/start.sh
  script/releases/v1.3.0-slashing/5-executeUpgradeAndUnpause.s.sol
  script/releases/v1.3.0-slashing/upgrade.json
  script/releases/v1.4.1-slashing/1-eoa.s.sol
  script/releases/v1.4.1-slashing/2-queueUpgradeAndTimestampSetter.s.sol
  script/releases/v1.4.1-slashing/3-queueUnpause.s.sol
  script/releases/v1.4.1-slashing/4-pause.s.sol
  script/releases/v1.4.1-slashing/5-executeUpgradeAndSetTimestampSubmitter.s.sol
  script/releases/v1.4.1-slashing/6-script/go.mod
  script/releases/v1.4.1-slashing/6-script/go.sum
  script/releases/v1.4.1-slashing/6-script/script.go
  script/releases/v1.4.1-slashing/6-script/script_test.go
  script/releases/v1.4.1-slashing/6-script/start.sh
  script/releases/v1.4.1-slashing/7-setProofTimestamp.s.sol
  script/releases/v1.4.1-slashing/8-executeUnpause.s.sol
  script/releases/v1.4.1-slashing/upgrade.json
Labels: 📜 Script, 🔧 Fix

#1343 release: Reduce allocation configuration delay & min withdrawal delay on Holesky
  docs/core/AllocationManager.md
  docs/core/DelegationManager.md
  script/releases/v1.4.2-testnet-delay-reduction/1-deployContracts.s.sol
  script/releases/v1.4.2-testnet-delay-reduction/2-queueUpgrade.s.sol
  script/releases/v1.4.2-testnet-delay-reduction/3-executeUpgrade.s.sol
  script/releases/v1.4.2-testnet-delay-reduction/upgrade.json
Labels: 🚢 Deployment
