Repository Layr-Labs/eigenlayer-contracts, pull requests merged in 2025-03, with the labels that each got.

#1197 test: add invariant check for staker strategy list
  src/test/integration/IntegrationBase.t.sol
  src/test/integration/IntegrationChecks.t.sol
Labels: 🗡️ Slashing Release, 🧪 Test

#1198 test: additional slashed operator tests
  src/test/integration/tests/SlashedOperator.t.sol
Labels: 🗡️ Slashing Release, 🧪 Test

#1176 fix: DSF increase on checkpointed nonzero shares
  docs/core/EigenPodManager.md
  pkg/bindings/EigenPodManager/binding.go
  pkg/bindings/StrategyManager/binding.go
  src/contracts/core/DelegationManager.sol
  src/contracts/pods/EigenPodManager.sol
  src/test/integration/IntegrationBase.t.sol
  src/test/integration/IntegrationChecks.t.sol
  src/test/integration/tests/Slashed_Eigenpod_AVS.t.sol
  src/test/integration/tests/Slashed_Eigenpod_BC.t.sol
  src/test/integration/users/User.t.sol
  src/test/unit/DelegationUnit.t.sol
  src/test/unit/EigenPodManagerUnit.t.sol
Labels: 📖 Documentation, ✨ Enhancement, 🧪 Test, 🔧 Fix

#1202 chore: disable ci path filtering
  .github/workflows/foundry.yml
Labels: 📜 Chore

#1199 docs(avs-directory): mark AVSDirectory as deprecated
  docs/core/AVSDirectory.md
Labels: 📖 Documentation

#1194 test: bc full slash tests and partial slash state validation
  src/test/integration/IntegrationBase.t.sol
  src/test/integration/IntegrationChecks.t.sol
  src/test/integration/tests/FullySlashed_EigenPod.t.sol
  src/test/integration/tests/Slashed_Eigenpod_BC.t.sol
Labels: 🗡️ Slashing Release, 🧪 Test

#1187 test: remaining upgrade tests
  src/test/integration/tests/upgrade/Complete_PreSlashing_Withdrawal.t.sol
Labels: 🗡️ Slashing Release, 🧪 Test

#1203 chore: address todos on fix
  src/test/integration/IntegrationBase.t.sol
  src/test/integration/tests/Slashed_Eigenpod_AVS.t.sol
Labels: 📜 Chore

#1201 test: `depositShares` >= `withdrawableShares` invariant
  src/test/integration/IntegrationBase.t.sol
  src/test/integration/IntegrationChecks.t.sol
Labels: ✨ Enhancement, 🧪 Test

#1188 test: bc state validation tests
  src/test/integration/IntegrationBase.t.sol
  src/test/integration/IntegrationChecks.t.sol
  src/test/integration/tests/Slashed_Eigenpod_BC.t.sol
Labels: 🗡️ Slashing Release, 🧪 Test

#1178 test: rounding tests low slashing factors
  src/test/harnesses/EigenPodManagerWrapper.sol
  src/test/integration/IntegrationBase.t.sol
  src/test/integration/IntegrationChecks.t.sol
  src/test/integration/IntegrationDeployer.t.sol
  src/test/integration/mocks/BeaconChainMock.t.sol
  src/test/integration/tests/FullySlashed_EigenPod.t.sol
  src/test/integration/tests/HighDSF_Multiple_Deposits.t.sol
  src/test/integration/tests/eigenpod/Register_Allocate_Slash_VerifyWC_.t.sol
  src/test/integration/tests/eigenpod/SlashBC_OneBCSF.t.sol
  src/test/integration/users/User.t.sol
Labels: 🗡️ Slashing Release, 🧪 Test

#1191 test: checkpoint with no added shares
  src/test/integration/tests/Slashed_Eigenpod_BC.t.sol
Labels: 🗡️ Slashing Release, 🧪 Test

#1209 chore: consolidate/update deploy from scratch scripts
  script/configs/local/deploy_from_scratch.anvil.config.json
  script/configs/local/deploy_from_scratch.slashing.anvil.config.json
  script/deploy/devnet/deploy_from_scratch.s.sol
  script/deploy/local/Deploy_From_Scratch.s.sol
  script/deploy/local/deploy_from_scratch.slashing.s.sol
  src/test/unit/DeployFromScratch.t.sol
Labels: 📜 Script, 🧪 Test

#1195 test: remaining dual slashing cases
  src/test/integration/IntegrationBase.t.sol
  src/test/integration/IntegrationChecks.t.sol
  src/test/integration/tests/DualSlashing.t.sol
  src/test/integration/tests/FullySlashed_Operator.t.sol
  src/test/integration/tests/eigenpod/FullySlashed_EigenPod.t.sol
  src/test/integration/tests/eigenpod/SlashBC_OneBCSF.t.sol
  src/test/integration/tests/eigenpod/Slashed_Eigenpod_BC.t.sol
Labels: 🗡️ Slashing Release, 🧪 Test

#1211 test: slashing integration testing
  .vscode/settings.json
  src/test/harnesses/EigenPodManagerWrapper.sol
  src/test/integration/IntegrationBase.t.sol
  src/test/integration/IntegrationChecks.t.sol
  src/test/integration/IntegrationDeployer.t.sol
  src/test/integration/mocks/BeaconChainMock.t.sol
  src/test/integration/tests/Delegate_Deposit_Queue_Complete.t.sol
  src/test/integration/tests/Deposit_Delegate_Allocate_Slash_Queue_Redeposit.t.sol
  src/test/integration/tests/Deposit_Delegate_Queue_Complete.t.sol
  src/test/integration/tests/Deposit_Delegate_Redelegate_Complete.t.sol
  src/test/integration/tests/Deposit_Delegate_Undelegate_Complete.t.sol
  src/test/integration/tests/Deposit_Register_QueueWithdrawal_Complete.t.sol
  src/test/integration/tests/DualSlashing.t.sol
  src/test/integration/tests/FullySlashed_Operator.t.sol
  src/test/integration/tests/HighDSF_Multiple_Deposits.t.sol
  src/test/integration/tests/Slashed_Eigenpod_AVS.t.sol
  src/test/integration/tests/Slashed_Eigenpod_BC.t.sol
  src/test/integration/tests/SlashingWithdrawals.t.sol
  src/test/integration/tests/Timing.t.sol
  src/test/integration/tests/eigenpod/FullySlashed_EigenPod.t.sol
  src/test/integration/tests/eigenpod/Register_Allocate_Slash_VerifyWC_.t.sol
  src/test/integration/tests/eigenpod/SlashBC_OneBCSF.t.sol
  src/test/integration/tests/eigenpod/Slashed_Eigenpod_BC.t.sol
  src/test/integration/tests/eigenpod/VerifyWC_StartCP_CompleteCP.t.sol
  src/test/integration/tests/upgrade/Complete_PreSlashing_Withdrawal.t.sol
  src/test/integration/tests/upgrade/Delegate_Upgrade_Allocate.t.sol
  src/test/integration/tests/upgrade/EigenPod.t.sol
  src/test/integration/tests/upgrade/EigenPod_Negative_Shares.t.sol
  src/test/integration/tests/upgrade/EigenPod_Slashing_Migration.t.sol
  src/test/integration/users/User.t.sol
  src/test/unit/EigenPodUnit.t.sol
  src/test/utils/Logger.t.sol
Labels: 🧪 Test, 📜 Chore

#1213 docs: updates for slashing release
  docs/core/AllocationManager.md
  docs/core/DelegationManager.md
  docs/core/accounting/SharesAccountingEdgeCases.md
  src/contracts/interfaces/IAllocationManager.sol
  src/contracts/interfaces/IDelegationManager.sol
  src/contracts/interfaces/IStrategy.sol
  src/contracts/strategies/StrategyBase.sol
Labels: 📖 Documentation, ✨ Enhancement

#1216 fix: zero duration
  docs/core/RewardsCoordinator.md
  src/contracts/core/RewardsCoordinator.sol
  src/contracts/core/RewardsCoordinatorStorage.sol
  src/contracts/interfaces/IRewardsCoordinator.sol
  src/test/unit/RewardsCoordinatorUnit.t.sol
Labels: 📖 Documentation, ✨ Enhancement, ⚖️ Audit Fix, 🧪 Test, 🔧 Fix

#1220 fix: compile warnings + ignore non-relevant errors
  foundry.toml
  src/test/integration/IntegrationBase.t.sol
  src/test/integration/IntegrationChecks.t.sol
  src/test/integration/tests/DualSlashing.t.sol
  src/test/integration/tests/HighDSF_Multiple_Deposits.t.sol
  src/test/integration/tests/Slashed_Eigenpod_AVS.t.sol
  src/test/integration/tests/SlashingWithdrawals.t.sol
  src/test/integration/tests/eigenpod/FullySlashed_EigenPod.t.sol
  src/test/integration/tests/eigenpod/Slashed_Eigenpod_BC.t.sol
  src/test/integration/tests/upgrade/Complete_PreSlashing_Withdrawal.t.sol
  src/test/integration/tests/upgrade/Delegate_Upgrade_Allocate.t.sol
  src/test/unit/AllocationManagerUnit.t.sol
  src/test/unit/DelegationUnit.t.sol
  src/test/unit/StrategyManagerUnit.t.sol
  src/test/unit/mixins/SignatureUtilsUnit.t.sol
Labels: 🧪 Test, 🔧 Fix

#1221 docs: update `effectBlock` on allocation delay; add undelegate dual slash edge case
  docs/core/AllocationManager.md
  docs/core/accounting/SlashingEdgeCase.md
Labels: 📖 Documentation

#1224 chore: update doc version
  docs/README.md
Labels: 📖 Documentation

#1225 docs: Explaining Minimum Slashable Stake in Better Detail
  docs/core/AllocationManager.md
Labels: 📖 Documentation

#1222 chore: certora workflow update
  .github/workflows/certora-prover.yml
Labels: 📜 Chore

#1229 docs: update rewards calculation link
  docs/core/RewardsCoordinator.md
Labels: 📖 Documentation

#1233 docs: add StrategyBase accounting doc
  docs/core/accounting/DualSlashingEdgeCase.md
  docs/core/accounting/StrategyBaseAccounting.md
Labels: 📖 Documentation

#1245 feat: remove transfer restriction function from backing eigen
  src/contracts/token/BackingEigen.sol
  src/test/token/EigenWrapping.t.sol
  src/test/token/bEIGEN.t.sol
Labels: ✨ Enhancement, 🧪 Test

#1246 feat: consolidate mint function to BackingEigen, and change BackingEigen constructor to break circular dependency on Eigen
  src/contracts/token/BackingEigen.sol
  src/contracts/token/Eigen.sol
  src/test/harnesses/EigenHarness.sol
  src/test/token/EigenWrapping.t.sol
  src/test/token/bEIGEN.t.sol
Labels: ✨ Enhancement, 🧪 Test

#1250 feat: add TokenWrapped and TokenUnwrapped events in Eigen for observability
  src/contracts/token/Eigen.sol
  src/test/token/EigenWrapping.t.sol
Labels: ✨ Enhancement, 🧪 Test

#1244 feat: v1.4.0 upgrade script
  script/releases/Env.sol
  script/releases/v1.2.0-slashing/1-eoa.s.sol
  script/releases/v1.2.0-slashing/2-queueUpgradeAndTimestampSetter.s.sol
  script/releases/v1.2.0-slashing/3-queueUnpause.s.sol
  script/releases/v1.2.0-slashing/4-pause.s.sol
  script/releases/v1.2.0-slashing/5-executeUpgradeAndSetTimestampSubmitter.s.sol
  script/releases/v1.2.0-slashing/6-script/go.mod
  script/releases/v1.2.0-slashing/6-script/go.sum
  script/releases/v1.2.0-slashing/6-script/script.go
  script/releases/v1.2.0-slashing/6-script/script_test.go
  script/releases/v1.2.0-slashing/6-script/start.sh
  script/releases/v1.2.0-slashing/7-setProofTimestamp.s.sol
  script/releases/v1.2.0-slashing/8-executeUnpause.s.sol
  script/releases/v1.2.0-slashing/forkTimestamp.txt
  script/releases/v1.2.0-slashing/upgrade.json
  script/releases/v1.4.0-slashing/1-deployContracts.s.sol
  script/releases/v1.4.0-slashing/2-queueUpgrade.s.sol
  script/releases/v1.4.0-slashing/3-execute.s.sol
  script/releases/v1.4.0-slashing/upgrade.json
Labels: 📜 Script

#1253 chore: add release label
  .github/workflows/automation.yml
Labels: 📜 Chore

#1255 feat: support all characters after colon
  .github/workflows/automation.yml
Labels: 📜 Chore
