Repository Layr-Labs/eigenlayer-contracts, pull requests merged in 2025-08, with the labels that each got.

#1581 feat: update generator script
  foundry.toml
  script/operations/README.md
  script/operations/update-generator/1-updateGenerator.s.sol
  script/operations/update-generator/README.md
  script/operations/update-generator/upgrade.json
  script/releases/README.md
  script/releases/v1.7.0-multichain/configs/testnet.toml
Labels: 📜 Script, 🌎 Multichain

#1575 fix(h-04): race condition
  docs/multichain/destination/CertificateVerifier.md
  docs/multichain/destination/OperatorTableUpdater.md
  pkg/bindings/BN254CertificateVerifier/binding.go
  pkg/bindings/CrossChainRegistry/binding.go
  pkg/bindings/ECDSACertificateVerifier/binding.go
  pkg/bindings/OperatorTableUpdater/binding.go
  pkg/bindings/TaskMailbox/binding.go
  src/contracts/interfaces/ICrossChainRegistry.sol
  src/contracts/interfaces/IOperatorTableUpdater.sol
  src/contracts/multichain/OperatorTableUpdater.sol
  src/test/integration/MultichainIntegrationBase.t.sol
  src/test/integration/tests/Multichain_Full_Flow.t.sol
  src/test/integration/tests/Multichain_Generation_Reservation_Removal.t.sol
  src/test/integration/tests/Multichain_Timing_Tests.t.sol
  src/test/mocks/BN254CertificateVerifierMock.sol
  src/test/mocks/ECDSACertificateVerifierMock.sol
  src/test/unit/OperatorTableUpdaterUnit.t.sol
Labels: ⚖️ Audit Fix, 🌎 Multichain

#1598 fix: sp multichain audit fixes
  pkg/bindings/BN254CertificateVerifier/binding.go
  pkg/bindings/CrossChainRegistry/binding.go
  pkg/bindings/ECDSACertificateVerifier/binding.go
  pkg/bindings/KeyRegistrar/binding.go
  pkg/bindings/OperatorTableUpdater/binding.go
  pkg/bindings/TaskMailbox/binding.go
  src/contracts/interfaces/IKeyRegistrar.sol
  src/contracts/interfaces/IOperatorTableCalculator.sol
Labels: ⚖️ Audit Fix, 🌎 Multichain

#1592 fix: multichain pt2 audit fixes
  docs/multichain/destination/CertificateVerifier.md
  docs/multichain/destination/OperatorTableUpdater.md
  docs/multichain/source/CrossChainRegistry.md
  docs/permissions/KeyRegistrar.md
  pkg/bindings/BN254CertificateVerifier/binding.go
  pkg/bindings/CrossChainRegistry/binding.go
  pkg/bindings/CrossChainRegistryStorage/binding.go
  pkg/bindings/ECDSACertificateVerifier/binding.go
  pkg/bindings/ECDSACertificateVerifierStorage/binding.go
  pkg/bindings/ICrossChainRegistry/binding.go
  pkg/bindings/IECDSACertificateVerifier/binding.go
  pkg/bindings/IReleaseManager/binding.go
  pkg/bindings/KeyRegistrar/binding.go
  pkg/bindings/LeafCalculatorMixin/binding.go
  pkg/bindings/OperatorTableUpdater/binding.go
  pkg/bindings/ReleaseManager/binding.go
  pkg/bindings/ReleaseManagerStorage/binding.go
  pkg/bindings/TaskMailbox/binding.go
  src/contracts/interfaces/IBN254CertificateVerifier.sol
  src/contracts/interfaces/IBaseCertificateVerifier.sol
  src/contracts/interfaces/ICrossChainRegistry.sol
  src/contracts/interfaces/IECDSACertificateVerifier.sol
  src/contracts/interfaces/IKeyRegistrar.sol
  src/contracts/interfaces/IOperatorTableCalculator.sol
  src/contracts/interfaces/IOperatorTableUpdater.sol
  src/contracts/mixins/LeafCalculatorMixin.sol
  src/contracts/multichain/BN254CertificateVerifier.sol
  src/contracts/multichain/BN254CertificateVerifierStorage.sol
  src/contracts/multichain/CrossChainRegistry.sol
  src/contracts/multichain/ECDSACertificateVerifier.sol
  src/contracts/multichain/OperatorTableUpdater.sol
  src/contracts/multichain/OperatorTableUpdaterStorage.sol
  src/contracts/permissions/KeyRegistrar.sol
  src/test/integration/MultichainIntegrationBase.t.sol
  src/test/integration/tests/Multichain_Full_Flow.t.sol
  src/test/integration/tests/Multichain_Generation_Reservation_Removal.t.sol
  src/test/integration/tests/Multichain_Timing_Tests.t.sol
  src/test/mocks/BN254CertificateVerifierMock.sol
  src/test/mocks/ECDSACertificateVerifierMock.sol
  src/test/unit/BN254CertificateVerifierUnit.t.sol
  src/test/unit/CrossChainRegistryUnit.t.sol
  src/test/unit/ECDSACertificateVerifierUnit.t.sol
  src/test/unit/KeyRegistrarUnit.t.sol
  src/test/unit/OperatorTableUpdaterUnit.t.sol
Labels: ⚖️ Audit Fix, 🌎 Multichain

#1593 feat: compute registry
  pkg/bindings/ComputeRegistry/binding.go
  pkg/bindings/ComputeRegistryStorage/binding.go
  pkg/bindings/IComputeRegistry/binding.go
  src/contracts/cloud/ComputeRegistry.sol
  src/contracts/cloud/ComputeRegistryStorage.sol
  src/contracts/interfaces/IComputeRegistry.sol
  src/test/mocks/CrossChainRegistryMock.sol
  src/test/mocks/KeyRegistrarMock.sol
  src/test/mocks/ReleaseManagerMock.sol
  src/test/unit/ComputeRegistryUnit.t.sol
Labels: :computer: EigenCompute
