Repository Layr-Labs/eigenlayer-contracts, pull requests merged in 2025-07, with the labels that each got.

#1492 feat: add `publishMetadataURI`
  src/contracts/core/ReleaseManager.sol
  src/contracts/core/ReleaseManagerStorage.sol
  src/contracts/interfaces/IReleaseManager.sol
  src/test/unit/ReleaseManagerUnit.t.sol
Labels: 🌎 Multichain

#1501 feat: operator table updater pauser
  docs/multichain/destination/OperatorTableUpdater.md
  pkg/bindings/BN254CertificateVerifier/binding.go
  pkg/bindings/ECDSACertificateVerifier/binding.go
  pkg/bindings/OperatorTableUpdater/binding.go
  src/contracts/interfaces/IOperatorTableUpdater.sol
  src/contracts/multichain/OperatorTableUpdater.sol
  src/contracts/multichain/OperatorTableUpdaterStorage.sol
  src/test/tree/OperatorTableUpdaterUnit.tree
  src/test/unit/OperatorTableUpdaterUnit.t.sol
Labels: 🌎 Multichain

#1485 refactor: remove redistribution delay
  README.md
  docs/core/SlashEscrowFactory.md
  docs/core/StrategyManager.md
  script/configs/local/deploy_from_scratch.slashing.anvil.config.json
  script/deploy/devnet/deploy_from_scratch.s.sol
  script/deploy/local/deploy_from_scratch.slashing.s.sol
  script/releases/Env.sol
  script/utils/ExistingDeploymentParser.sol
  src/contracts/core/AllocationManager.sol
  src/contracts/core/AllocationManagerStorage.sol
  src/contracts/core/SlashEscrow.sol
  src/contracts/core/SlashEscrowFactory.sol
  src/contracts/core/SlashEscrowFactoryStorage.sol
  src/contracts/core/StrategyManager.sol
  src/contracts/core/StrategyManagerStorage.sol
  src/contracts/interfaces/ISlashEscrow.sol
  src/contracts/interfaces/ISlashEscrowFactory.sol
  src/contracts/interfaces/IStrategyManager.sol
  src/contracts/libraries/SlashingLib.sol
  src/test/harnesses/AllocationManagerHarness.sol
  src/test/integration/IntegrationBase.t.sol
  src/test/integration/IntegrationChecks.t.sol
  src/test/integration/IntegrationDeployer.t.sol
  src/test/integration/tests/Deposit_Delegate_Allocate_Slash_Escrow.t.sol
  src/test/integration/users/AVS.t.sol
  src/test/mocks/SlashEscrowFactoryMock.sol
  src/test/unit/AllocationManagerUnit.t.sol
  src/test/unit/SlashEscrowFactoryUnit.t.sol
  src/test/unit/StrategyManagerUnit.t.sol
  src/test/unit/libraries/SlashingLibUnit.t.sol
  src/test/utils/EigenLayerUnitTestSetup.sol
Labels: ♻️ Redistribution

#1520 feat: key data reverse lookup
  docs/permissions/KeyRegistrar.md
  src/contracts/interfaces/IKeyRegistrar.sol
  src/contracts/permissions/KeyRegistrar.sol
  src/contracts/permissions/KeyRegistrarStorage.sol
  src/test/unit/KeyRegistrarUnit.t.sol
Labels: 🌎 Multichain

#1536 feat: invalid staleness period prevention
  docs/multichain/destination/CertificateVerifier.md
  docs/multichain/source/CrossChainRegistry.md
  script/releases/v1.7.0-multichain/1-deploySourceChain.s.sol
  src/contracts/interfaces/ICrossChainRegistry.sol
  src/contracts/multichain/CrossChainRegistry.sol
  src/contracts/multichain/CrossChainRegistryStorage.sol
  src/test/integration/MultichainIntegrationBase.t.sol
  src/test/tree/CrossChainRegistry.tree
  src/test/unit/CrossChainRegistryUnit.t.sol
Labels: 🌎 Multichain

#1541 chore: clean up natspec round 1
  docs/multichain/destination/CertificateVerifier.md
  docs/multichain/destination/OperatorTableUpdater.md
  docs/multichain/source/CrossChainRegistry.md
  docs/permissions/KeyRegistrar.md
  pkg/bindings/AVSDirectory/binding.go
  pkg/bindings/AllocationManager/binding.go
  pkg/bindings/BN254/binding.go
  pkg/bindings/BN254CertificateVerifier/binding.go
  pkg/bindings/BN254SignatureVerifier/binding.go
  pkg/bindings/BackingEigen/binding.go
  pkg/bindings/BeaconChainProofs/binding.go
  pkg/bindings/CrossChainRegistry/binding.go
  pkg/bindings/DelegationManager/binding.go
  pkg/bindings/ECDSACertificateVerifier/binding.go
  pkg/bindings/ECDSACertificateVerifierStorage/binding.go
  pkg/bindings/Eigen/binding.go
  pkg/bindings/EigenPod/binding.go
  pkg/bindings/EigenPodManager/binding.go
  pkg/bindings/EigenStrategy/binding.go
  pkg/bindings/Endian/binding.go
  pkg/bindings/IECDSACertificateVerifier/binding.go
  pkg/bindings/IOperatorTableUpdater/binding.go
  pkg/bindings/Merkle/binding.go
  pkg/bindings/OperatorSetLib/binding.go
  pkg/bindings/OperatorTableUpdater/binding.go
  pkg/bindings/OperatorTableUpdaterStorage/binding.go
  pkg/bindings/PauserRegistry/binding.go
  pkg/bindings/PermissionController/binding.go
  pkg/bindings/ReleaseManager/binding.go
  pkg/bindings/RewardsCoordinator/binding.go
  pkg/bindings/SlashingLib/binding.go
  pkg/bindings/Snapshots/binding.go
  pkg/bindings/StrategyBase/binding.go
  pkg/bindings/StrategyBaseTVLLimits/binding.go
  pkg/bindings/StrategyFactory/binding.go
  pkg/bindings/StrategyManager/binding.go
  src/contracts/interfaces/IBN254CertificateVerifier.sol
  src/contracts/interfaces/IBaseCertificateVerifier.sol
  src/contracts/interfaces/IECDSACertificateVerifier.sol
  src/contracts/interfaces/IKeyRegistrar.sol
  src/contracts/interfaces/IOperatorTableCalculator.sol
  src/contracts/interfaces/IOperatorTableUpdater.sol
  src/contracts/multichain/BN254CertificateVerifier.sol
  src/contracts/multichain/ECDSACertificateVerifier.sol
  src/test/unit/ECDSACertificateVerifierUnit.t.sol
Labels: 🌎 Multichain

#1544 fix: storage gap in `CrossChainRegistry`
  src/contracts/multichain/CrossChainRegistryStorage.sol
Labels: 🌎 Multichain

#1548 test: more integration test scenarios and checks file
  src/test/integration/MultichainIntegrationChecks.t.sol
  src/test/integration/tests/Multichain_Full_Flow.t.sol
  src/test/integration/tests/Multichain_Generation_Reservation_Removal.t.sol
  src/test/integration/tests/Multichain_Timing_Tests.t.sol
Labels: 🧪 Test, 🌎 Multichain

#1547 fix: prevent `globalTableRoot` certificate replay upon newly instantiated CertificateVerifiers/OperatorTables
  docs/multichain/destination/CertificateVerifier.md
  docs/multichain/destination/OperatorTableUpdater.md
  script/releases/v1.7.0-multichain/4-instantiateDestinationChainProxies.s.sol
  src/contracts/interfaces/IOperatorTableUpdater.sol
  src/contracts/multichain/OperatorTableUpdater.sol
  src/test/unit/OperatorTableUpdaterUnit.t.sol
Labels: 🌎 Multichain

#1551 chore: `KeyRegistrar` clarifications
  docs/permissions/KeyRegistrar.md
  src/contracts/interfaces/IKeyRegistrar.sol
  src/contracts/permissions/KeyRegistrar.sol
  src/test/unit/KeyRegistrarUnit.t.sol
  src/test/unit/Old.t.sol
Labels: 🌎 Multichain

#1562 chore: clean up interfaces
  docs/multichain/destination/CertificateVerifier.md
  docs/multichain/source/CrossChainRegistry.md
  docs/permissions/KeyRegistrar.md
  pkg/bindings/AllocationManager/binding.go
  pkg/bindings/BN254CertificateVerifier/binding.go
  pkg/bindings/BN254CertificateVerifierStorage/binding.go
  pkg/bindings/CrossChainRegistry/binding.go
  pkg/bindings/DelegationManager/binding.go
  pkg/bindings/ECDSACertificateVerifier/binding.go
  pkg/bindings/ECDSACertificateVerifierStorage/binding.go
  pkg/bindings/IBN254CertificateVerifier/binding.go
  pkg/bindings/IBaseCertificateVerifier/binding.go
  pkg/bindings/IECDSACertificateVerifier/binding.go
  pkg/bindings/IKeyRegistrar/binding.go
  pkg/bindings/KeyRegistrar/binding.go
  pkg/bindings/KeyRegistrarStorage/binding.go
  pkg/bindings/OperatorTableUpdater/binding.go
  pkg/bindings/ReleaseManager/binding.go
  pkg/bindings/RewardsCoordinator/binding.go
  pkg/bindings/StrategyManager/binding.go
  script/utils/validateStorage/README.md
  src/contracts/interfaces/IAVSRegistrar.sol
  src/contracts/interfaces/IBN254CertificateVerifier.sol
  src/contracts/interfaces/IBaseCertificateVerifier.sol
  src/contracts/interfaces/ICrossChainRegistry.sol
  src/contracts/interfaces/IECDSACertificateVerifier.sol
  src/contracts/interfaces/IKeyRegistrar.sol
  src/contracts/interfaces/IOperatorTableCalculator.sol
  src/contracts/multichain/BN254CertificateVerifier.sol
  src/test/integration/IntegrationBase.t.sol
  src/test/integration/tests/DualSlashing.t.sol
  src/test/unit/AllocationManagerUnit.t.sol
Labels: 🌎 Multichain
